.state {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
}

.state.is-choice.is-activated {
    color: #6200ee;
}

.state:disabled,
.state.is-disabled {
    cursor: default;
    pointer-events: none;
    opacity: 0.38;
}

.state::before {
    content: '';
    position: absolute;
    min-width: 100%;
    min-height: 48px;
    height: 100%;
}

.state::after {
    content: '';
    position: absolute;
    pointer-events: none;
    left: var(--ripple-left, 50%);
    top: var(--ripple-top, 50%);
    transform: translate3d(-50%, -50%, 0) translate3d(var(--ripple-translateX, 0), var(--ripple-translateY, 0), 0);
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: #000000;
    opacity: 0;
}

.state:hover::after {
    width: var(--ripple-size, 256px);
    height: var(--ripple-size, 256px);
    opacity: 0.04;
}

.state:focus::after {
    width: var(--ripple-size, 256px);
    height: var(--ripple-size, 256px);
    opacity: 0.12;
    transition: width 300ms ease-in-out, height 300ms ease-in-out, opacity 300ms ease-in-out;
    animation: var(--ripple-animation, ripple 300ms ease-in-out);
}

.state:active::after {
    width: var(--ripple-size, 256px);
    height: var(--ripple-size, 256px);
    opacity: 0.16;
}

.state.is-filter:focus::after {
    --ripple-animation-duration: 300ms; }

.state.is-filter:not(.is-selected):focus:not(:active)::after {
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0) translate3d(0, 0, 0);
    width: 75%;
    height: 75%;
}

.state.is-filter:not(.is-selected):active::after {
    width: var(--ripple-size, 256px);
    height: var(--ripple-size, 256px);
}

.state.is-filter.is-selected::after {
    width: var(--ripple-size, 256px);
    height: var(--ripple-size, 256px);
    background-color: #6200ee;
    opacity: 0.08;
    animation: ripple 300ms ease-in-out;
    animation-duration: var(--ripple-animation-duration, 0s);
}

.state.is-choice:focus::after {
    --ripple-animation-duration: 300ms; }

.state.is-choice:not(.is-activated):focus:not(:active)::after {
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0) translate3d(0, 0, 0);
    width: 75%;
    height: 75%;
}

.state.is-choice:not(.is-activated):active::after {
    width: var(--ripple-size, 256px);
    height: var(--ripple-size, 256px);
}

.state.is-choice.is-activated::after {
    width: var(--ripple-size, 256px);
    height: var(--ripple-size, 256px);
    background-color: #6200ee;
    opacity: 0.12;
    animation: ripple 300ms ease-in-out;
    animation-duration: var(--ripple-animation-duration, 0s);
}

.state.is-dragged::after {
    opacity: 0.08;
}

.state:disabled::after,
.state.is-disabled::after {
    opacity: 0;
}

@keyframes ripple {
    from {
        width: 0;
        height: 0;
    }

    to {
        width: var(--ripple-size, 256px);
        height: var(--ripple-size, 256px);
    }
}