.calendar {
    border-radius: 4px;
    width: calc((40px * 7) + (8px * 2));
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.calendar__header {
    display: flex;
    align-items: center;
    height: 56px;
}

.calendar__header-section {
    display: flex;
    flex: 1;
}

.calendar__header-section--start {
    justify-content: flex-start;
}

.calendar__header-section--end {
    justify-content: flex-end;
}

.calendar__title {
    margin: 0 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
}

.calendar__icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 16px;
    width: 24px;
    height: 24px;
    font-size: 14px;
}

.calendar__icon + .calendar__icon {
    margin-left: calc(24px - 16px);
}

.calendar__content {
    padding: 0 8px 8px 8px;
}

.calendar__content .divider {
    margin: 0 -8px;
}

.calendar__grid {
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
}

.calendar__column {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.calendar__grid:first-child .calendar__column {
    height: 40px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}

.calendar__grid:last-child .calendar__column {
    height: 40px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}