<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WK</title>
    <link rel="stylesheet" href="../index.css">
</head>

<body class="demo-body">

    <div class="banner">
        <div class="banner__body">
            <div class="banner__text">One line message text string with two actions on tablet /Desktop.</div>
        </div>
        <div class="banner__action-group">
            <wk-button>ACTION</wk-button>
        </div>
    </div>

    <script src="../index.js" type="module"></script>
</body>

</html>