<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WK</title>
    <link rel="stylesheet" href="../index.css">
</head>

<body>

    <h1 class="typography typography--h1">H1</h1>
    <h2 class="typography typography--h2">H2</h2>
    <h3 class="typography typography--h3">H3</h3>
    <h4 class="typography typography--h4">H4</h4>
    <h5 class="typography typography--h5">H5</h5>
    <h6 class="typography typography--h6">H6</h6>
    <h1 class="typography typography--subtitle1">Subtitle1</h1>
    <h2 class="typography typography--subtitle2">Subtitle2</h2>
    <p class="typography typography--body1">Body1</p>
    <p class="typography typography--body2">Body2</p>
    <p class="typography typography--button">BUTTON</p>
    <p class="typography typography--caption">Caption</p>
    <p class="typography typography--overline">OVERLINE</p>

    <script src="../index.js" type="module"></script>
</body>

</html>