/* 
	@block card 
*/
.card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 4px;
    background-color: var(--color-surface);
    color: var(--color-focused-on-light);
    box-shadow: 0 2px 1px -1px var(--color-black-20), 0 1px 1px 0 var(--color-black-14), 0 1px 3px 0 var(--color-black-12);
}

/* 
	@element header 
*/
.card__header {
    display: flex;
    flex-direction: column;
}

/* 
	@element body 
*/
.card__body {
    overflow: hidden auto;
    flex: 1;
    padding: calc(16px - (20px - 14px) / 2) 16px calc(24px - (20px - 14px) / 2) 16px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.card__primary + .card__body {
    margin-top: calc(16px - 24px - 16px);
}

/* 
	@element footer 
*/
.card__footer {
    display: flex;
}

.card__body + .card__footer {
    margin-top: calc(16px - 24px);
}

.card__primary + .card__footer {
    margin-top: calc(16px - 24px);
}

/* 
	@element row 
*/
.card__row {
    display: flex;
}

.card__row[hidden] {
    display: none;
}

/* 
	@element section 
*/
.card__section {
    display: flex;
}

/* 
	@elementModifier start 
*/
.card__section--start {
    flex: 1;
}

/* 
	@elementModifier end 
*/
.card__section--end {
    margin-left: auto;
}

/* 
	@elementModifier vertical 
*/
.card__section--vertical {
    flex-direction: column;
    align-items: flex-start;
}

/* 
	@element thumb 
*/
.card__thumb {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: calc((72px - 40px) / 2) 16px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* 
	@element primary 
*/
.card__primary {
    margin: calc(24px - ((36px - 24px) / 2)) 16px calc(24px - ((20px - 14px) / 2)) 16px;
}

.card__header .card__primary {
    margin: calc(((72px - (28px + 20px)) / 2)) 0 calc(((72px - (28px + 20px)) / 2)) 16px;
}

.card__header .card__thumb + .card__primary {
    margin-left: calc(16px - 16px);
}

/* 
	@element title 
*/
.card__title {
    margin: calc((64px - 28px) / 2) 0 calc((64px - 28px) / 2) 16px;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
}

.card__primary .card__title {
    margin: 0;
}

.card__header .card__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
}

/* 
	@element subtitle 
*/
.card__subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

/* 
    @element text 
*/
.card__text {
    margin: calc((64px - 24px) / 2) 0 calc((64px - 24px) / 2) 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

/* 
	@element media 
*/
.card__media {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.card__media::before {
    content: "";
    display: block;
    padding-top: 100%;
}

/* 
    @elementModifier 16-9 
*/
.card__media--16-9::before {
    padding-top: calc(100% / 16 * 9);
}

/* 
	@elementModifier 1-1 
*/
/* .card__media--1-1 {} */
/* 
	@elementModifier 80 
*/
.card__media--80 {
    width: 80px;
    height: 80px;
}

/* 
	@elementModifier 120 
*/
.card__media--120 {
    width: 120px;
    height: 120px;
}

/* 
	@elementModifier 160 
*/
.card__media--160 {
    width: 160px;
    height: 160px;
}

/* 
	@elementModifier 240 
*/
.card__media--240 {
    width: 240px;
    height: 240px;
}

/* 
	@element protection 
*/
.card__protection {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--color-inactive-on-light);
    color: var(--color-focused-on-dark);
}

/* 
	@element content 
*/
.card__content {
    display: flex;
}

.card__content .card__primary {
    flex: 1;
}

.card__content .card__media {
    margin: 16px;
}

.card__content + .card__footer {
    margin-top: calc(0px - 16px);
}

.card__content .card__footer {
    margin: 16px 16px 16px 0;
}

/* 
	@component icon 
*/
.card wk-icon {
    margin: calc((64px - 24px) / 2) 16px;
}

.card wk-icon + wk-icon {
    margin-left: calc(24px - 16px);
}

.card__footer wk-icon {
    margin-top: calc((52px - 24px) / 2);
    margin-bottom: calc((52px - 24px) / 2);
}

.card__section--vertical wk-icon + wk-icon {
    margin-left: 16px;
    margin-top: calc(16px - 8px);
}

/* 
	@component button 
*/
.card wk-button {
    margin: calc((64px - 36px) / 2) 8px;
}

.card wk-button + wk-button {
    margin-left: calc(8px - 8px);
}

.card__footer wk-button {
    margin-top: calc((52px - 36px) / 2);
    margin-bottom: calc((52px - 36px) / 2);
}

.card__section--vertical wk-button + wk-button {
    margin-left: 8px;
    margin-top: calc(4px - 8px);
}

/* 
	@modifier outlined 
*/
.card--outlined {
    box-shadow: inset 0 0 0 1px var(--color-black-12);
}
