wk-layout {
    display: block;
    /* display: flex; */
    margin: 0 24px;
}

wk-layout-grid {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-gap: 24px;
}

wk-layout-column {
    grid-column-end: span 4;
}

wk-layout-column[column="1"] {
    grid-column-end: span 1;
}

wk-layout-column[column="2"] {
    grid-column-end: span 2;
}

wk-layout-column[column="3"] {
    grid-column-end: span 3;
}

wk-layout-column[column="4"] {
    grid-column-end: span 4;
}

wk-layout-column[column="5"] {
    grid-column-end: span 5;
}

wk-layout-column[column="6"] {
    grid-column-end: span 6;
}

wk-layout-column[column="7"] {
    grid-column-end: span 7;
}

wk-layout-column[column="8"] {
    grid-column-end: span 8;
}

wk-layout-column[column="9"] {
    grid-column-end: span 9;
}

wk-layout-column[column="10"] {
    grid-column-end: span 10;
}

wk-layout-column[column="11"] {
    grid-column-end: span 11;
}

wk-layout-column[column="12"] {
    grid-column-end: span 12;
}





@media (min-width: 840px) {
    wk-layout {
        margin: 0 24px;
    }

    wk-layout-grid {
        grid-template-columns: repeat(12, minmax(0, 1fr));
        grid-gap: 24px;
    }

    wk-layout-column[desktopColumn="1"] {
        grid-column-end: span 1;
    }

    wk-layout-column[desktopColumn="2"] {
        grid-column-end: span 2;
    }

    wk-layout-column[desktopColumn="3"] {
        grid-column-end: span 3;
    }

    wk-layout-column[desktopColumn="4"] {
        grid-column-end: span 4;
    }

    wk-layout-column[desktopColumn="5"] {
        grid-column-end: span 5;
    }

    wk-layout-column[desktopColumn="6"] {
        grid-column-end: span 6;
    }

    wk-layout-column[desktopColumn="7"] {
        grid-column-end: span 7;
    }

    wk-layout-column[desktopColumn="8"] {
        grid-column-end: span 8;
    }

    wk-layout-column[desktopColumn="9"] {
        grid-column-end: span 9;
    }

    wk-layout-column[desktopColumn="10"] {
        grid-column-end: span 10;
    }

    wk-layout-column[desktopColumn="11"] {
        grid-column-end: span 11;
    }

    wk-layout-column[desktopColumn="12"] {
        grid-column-end: span 12;
    }
}






@media (min-width: 480px) and  (max-width: 840px) {
    wk-layout {
        margin: 0 24px;
    }

    wk-layout-grid {
        grid-template-columns: repeat(8, minmax(0, 1fr));
        grid-gap: 24px;
    }

    wk-layout-column[tabletColumn="1"] {
        grid-column-end: span 1;
    }

    wk-layout-column[tabletColumn="2"] {
        grid-column-end: span 2;
    }

    wk-layout-column[tabletColumn="3"] {
        grid-column-end: span 3;
    }

    wk-layout-column[tabletColumn="4"] {
        grid-column-end: span 4;
    }

    wk-layout-column[tabletColumn="5"] {
        grid-column-end: span 5;
    }

    wk-layout-column[tabletColumn="6"] {
        grid-column-end: span 6;
    }

    wk-layout-column[tabletColumn="7"] {
        grid-column-end: span 7;
    }

    wk-layout-column[tabletColumn="8"] {
        grid-column-end: span 8;
    }
}






@media (max-width: 480px) {
    wk-layout {
        margin: 0 16px;
    }

    wk-layout-grid {
        grid-template-columns: repeat(4, minmax(0, 1fr));
        grid-gap: 16px;
    }

    wk-layout-column[mobileColumn="1"] {
        grid-column-end: span 1;
    }

    wk-layout-column[mobileColumn="2"] {
        grid-column-end: span 2;
    }

    wk-layout-column[mobileColumn="3"] {
        grid-column-end: span 3;
    }

    wk-layout-column[mobileColumn="4"] {
        grid-column-end: span 4;
    }
}