<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WK</title>
    <link rel="stylesheet" href="../foundation/index.css">
    <link rel="stylesheet" href="../layout/index.css">
    <link rel="stylesheet" href="../typography/index.css">
    <link rel="stylesheet" href="../color/index.css">
    <link rel="stylesheet" href="../icon/index.css">
    <link rel="stylesheet" href="../ripple/index.css">
    <link rel="stylesheet" href="../layout/index.css">
    <link rel="stylesheet" href="./index.css">
</head>

<body>

    

    <br><br>

    

    <br><br>

    <div class="top-app-bar top-app-bar--colored">
        <div class="top-app-bar__row">
            <div class="top-app-bar__section top-app-bar__section--start">
                <wk-icon class="top-app-bar__action top-app-bar__action--navigation" actionable></wk-icon>
                <div class="top-app-bar__title">Title</div>
            </div>
            <div class="top-app-bar__section top-app-bar__section--end">
                <wk-icon actionable>&#xE713;</wk-icon>
                <wk-icon actionable>&#xE721;</wk-icon>
                <wk-icon class="top-app-bar__action top-app-bar__action--menu" actionable></wk-icon>
            </div>
        </div>
    </div>

    <br><br>

    <div class="top-app-bar top-app-bar--colored top-app-bar--extended">
        <div class="top-app-bar__row">
            <div class="top-app-bar__section top-app-bar__section--start">
                <wk-icon class="top-app-bar__action top-app-bar__action--navigation" actionable></wk-icon>
                <div class="top-app-bar__title">Title</div>
            </div>
            <div class="top-app-bar__section top-app-bar__section--end">
                <wk-icon actionable>&#xE713;</wk-icon>
                <wk-icon actionable>&#xE721;</wk-icon>
                <wk-icon class="top-app-bar__action top-app-bar__action--menu" actionable></wk-icon>
            </div>
        </div>
    </div>

    <br><br>

    <script src="../ripple/index.js" type="module"></script>
    <script src="../icon/index.js" type="module"></script>
    <script src="../layout/index.js" type="module"></script>
    <script src="./index.3.js" type="module"></script>
    <!-- <script src="./index.2.js" type="module"></script> -->
    <script src="./index.1.js" type="module"></script>
    <script src="./index.js" type="module"></script>
</body>

</html>