<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../index.css">
</head>
<body>

    <wk-button outlined="true" icon="&#xE719;" text="Button">Button</wk-button>
    <wk-button contained="true">Button</wk-button>
    <wk-button toggle="true" icon="&#xE719;"></wk-button>

    <wk-button-group multiple="true">
        <wk-button toggle="true" icon="&#xE719;"></wk-button>
        <wk-button toggle="true" icon="&#xE719;"></wk-button>
        <wk-button toggle="true" icon="&#xE719;"></wk-button>
    </wk-button-group>

    <wk-element></wk-element>

    <script src="../index.js" type="module"></script>
    <script src="./index.js" type="module"></script>
    <script>
    </script>
</body>
</html>