<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WK</title>
    <link rel="stylesheet" href="../foundation/index.css">
    <link rel="stylesheet" href="../layout/index.css">
    <link rel="stylesheet" href="../typography/index.css">
    <link rel="stylesheet" href="../color/index.css">
    <link rel="stylesheet" href="../icon/index.css">
    <link rel="stylesheet" href="../ripple/index.css">
    <link rel="stylesheet" href="../layout/index.css">
    <link rel="stylesheet" href="./index.css">
</head>

<body>

    <wk-layout>
        <wk-layout-grid>
            <wk-layout-column column="2" wkElevation="0" style="height: calc(64px * 3);"></wk-layout-column>
            <wk-layout-column column="2" wkElevation="1" style="height: calc(64px * 3);"></wk-layout-column>
            <wk-layout-column column="2" wkElevation="2" style="height: calc(64px * 3);"></wk-layout-column>
            <wk-layout-column column="2" wkElevation="3" style="height: calc(64px * 3);"></wk-layout-column>
            <wk-layout-column column="2" wkElevation="4" style="height: calc(64px * 3);"></wk-layout-column>
            <wk-layout-column column="2" wkElevation="5" style="height: calc(64px * 3);"></wk-layout-column>
            <wk-layout-column column="2" wkElevation="6" style="height: calc(64px * 3);"></wk-layout-column>
            <wk-layout-column column="2" wkElevation="7" style="height: calc(64px * 3);"></wk-layout-column>
            <wk-layout-column column="2" wkElevation="8" style="height: calc(64px * 3);"></wk-layout-column>
            <wk-layout-column column="2" wkElevation="9" style="height: calc(64px * 3);"></wk-layout-column>
            <wk-layout-column column="2" wkElevation="10" style="height: calc(64px * 3);"></wk-layout-column>
            <wk-layout-column column="2" wkElevation="11" style="height: calc(64px * 3);"></wk-layout-column>
            <wk-layout-column column="2" wkElevation="12" style="height: calc(64px * 3);"></wk-layout-column>
            <wk-layout-column column="2" wkElevation="13" style="height: calc(64px * 3);"></wk-layout-column>
            <wk-layout-column column="2" wkElevation="14" style="height: calc(64px * 3);"></wk-layout-column>
            <wk-layout-column column="2" wkElevation="15" style="height: calc(64px * 3);"></wk-layout-column>
            <wk-layout-column column="2" wkElevation="16" style="height: calc(64px * 3);"></wk-layout-column>
            <wk-layout-column column="2" wkElevation="17" style="height: calc(64px * 3);"></wk-layout-column>
            <wk-layout-column column="2" wkElevation="18" style="height: calc(64px * 3);"></wk-layout-column>
            <wk-layout-column column="2" wkElevation="19" style="height: calc(64px * 3);"></wk-layout-column>
            <wk-layout-column column="2" wkElevation="20" style="height: calc(64px * 3);"></wk-layout-column>
            <wk-layout-column column="2" wkElevation="21" style="height: calc(64px * 3);"></wk-layout-column>
            <wk-layout-column column="2" wkElevation="22" style="height: calc(64px * 3);"></wk-layout-column>
            <wk-layout-column column="2" wkElevation="23" style="height: calc(64px * 3);"></wk-layout-column>
            <wk-layout-column column="2" wkElevation="24" style="height: calc(64px * 3);"></wk-layout-column>
        </wk-layout-grid>
    </wk-layout>

    <script src="../ripple/index.js" type="module"></script>
    <script src="../layout/index.js" type="module"></script>
    <script src="./index.js" type="module"></script>
    <script src="./index.3.js" type="module"></script>
    <!-- <script src="./index.1.js" type="module"></script> -->
</body>

</html>