wk-switch {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    position: relative;
    width: 36px;
    height: 24px;
}

.switch__input {
    cursor: pointer;
    user-select: none;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.switch__track {
    display: inline-flex;
    align-items: center;
    position: relative;
    width: 32px;
    height: 14px;
    border-radius: calc(14px / 2);
    background-color: #9b9b9b;
}

.switch__thumb {
    position: absolute;
    left: calc(0px - ((36px - 32px) / 2));
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    transition: 
    left 100ms ease-in-out;
}






.switch__input:checked ~ .switch__track {
    background-color: rgba(98, 0, 238, 0.54);
}

.switch__input:checked ~ .switch__track .switch__thumb {
    left: calc(36px - 20px - ((36px - 32px) / 2));
    background-color: #6200ee;
}





/* 
    States
*/
.switch__input ~ .switch__track .switch__thumb {
    position: relative;
    cursor: pointer;
    user-select: none;
}

.switch__input[disabled] ~ .switch__track .switch__thumb {
    cursor: default;
    pointer-events: none;
    opacity: 0.38;
}

/* 
    Touch target
*/
.switch__input ~ .switch__track .switch__thumb::before {
    content: '';
    position: absolute;
    z-index: -1;
    min-width: 100%;
    min-height: 48px;
    height: 100%;
}

/* 
    Overlay
*/
.switch__input ~ .switch__track .switch__thumb::after {
    content: '';
    position: absolute;
    pointer-events: none;
    left: var(--ripple-left, 50%);
    top: var(--ripple-top, 50%);
    transform: translate3d(-50%, -50%, 0) translate3d(var(--ripple-translateX, 0), var(--ripple-translateY, 0), 0);
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: #6200ee;
    opacity: 0;
}

.switch__input:hover ~ .switch__track .switch__thumb::after {
    width: var(--ripple-size, 40px);
    height: var(--ripple-size, 40px);
    opacity: 0.04;
}

.switch__input:focus ~ .switch__track .switch__thumb::after {
    width: var(--ripple-size, 40px);
    height: var(--ripple-size, 40px);
    opacity: 0.12;
    transition: width 300ms ease-in-out, height 300ms ease-in-out, opacity 300ms ease-in-out;
    animation: var(--ripple-animation, ripple 300ms ease-in-out);
}

.switch__input:active ~ .switch__track .switch__thumb::after {
    width: var(--ripple-size, 40px);
    height: var(--ripple-size, 40px);
    opacity: 0.16;
}

.switch__input[disabled] ~ .switch__track .switch__thumb::after {
    opacity: 0;
}






.switch__input:not(:checked):not(:indeterminate) ~ .switch__track .switch__thumb::after {
    background-color: #000000;
    opacity: 0;
}

.switch__input:not(:checked):not(:indeterminate):hover ~ .switch__track .switch__thumb::after {
    opacity: 0.04;
}

.switch__input:not(:checked):not(:indeterminate):focus ~ .switch__track .switch__thumb::after {
    opacity: 0.12;
}

.switch__input:not(:checked):not(:indeterminate):active ~ .switch__track .switch__thumb::after {
    opacity: 0.16;
}

.switch__input:not(:checked):not(:indeterminate)[disabled] ~ .switch__track .switch__thumb::after {
    opacity: 0;
}