<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WK</title>
    <link rel="stylesheet" href="../index.css">
</head>

<body>

    <div class="button">
        <div class="button__text">text</div>
    </div>
    <br><br>
    <div class="button">
        <div class="button__icon">&#xE720;</div>
        <div class="button__text">text</div>
    </div>
    <br><br>

    <div class="button button--outlined">
        <div class="button__text">text</div>
    </div>
    <br><br>
    <div class="button button--outlined">
        <div class="button__icon">&#xE720;</div>
        <div class="button__text">text</div>
    </div>
    <br><br>

    <div class="button button--contained">
        <div class="button__text">text</div>
    </div>
    <br><br>
    <div class="button button--contained">
        <div class="button__icon">&#xE720;</div>
        <div class="button__text">text</div>
    </div>
    <br><br>

    <div class="button-group">
        <div class="button button--toggle" selected>
            <div class="button__icon">&#xE719;</div>
        </div>
        <div class="button button--toggle">
            <div class="button__icon">&#xE720;</div>
        </div>
        <div class="button button--toggle">
            <div class="button__icon">&#xE722;</div>
        </div>
    </div>
    <br><br>
    <div class="button-group" multiple>
        <div class="button button--toggle" selected>
            <div class="button__icon">&#xE719;</div>
        </div>
        <div class="button button--toggle">
            <div class="button__icon">&#xE720;</div>
        </div>
        <div class="button button--toggle">
            <div class="button__icon">&#xE722;</div>
        </div>
    </div>
    <br><br>

    <script src="../index.js" type="module"></script>
</body>

</html>