/* 
	@block button 
*/
.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    min-width: 64px;
    height: 36px;
    border-radius: 4px;
    background-color: transparent;
    color: var(--color-primary);
}

/* 
	@element text 
*/
.button__text {
    margin: 0 8px;
    font-weight: 500; font-size: 14px; line-height: 20px; text-transform: uppercase;
}

/* 
	@element icon 
*/
.button__icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    margin: 0 12px;
    font: 400 16px/1 'Segoe MDL2 Assets';
}

/* 
	@modifier outlined 
*/
.button--outlined {
    background-color: transparent;
    color: var(--color-primary);
    box-shadow: inset 0 0 0 1px var(--color-black-12);
}

.button--outlined .button__text {
    margin-left: 16px;
    margin-right: 16px;
}

/* .button--outlined .button__icon {} */

/* 
	@modifier contained 
*/
.button--contained {
    background-color: var(--color-primary);
    color: var(--color-on-primary);
    box-shadow: 0 3px 1px -2px var(--color-black-20), 0 2px 2px 0 var(--color-black-14), 0 1px 5px 0 var(--color-black-12);
}

.button--contained .button__text {
    margin-left: 16px;
    margin-right: 16px;
}

/* .button--contained .button__icon {} */

.button__icon + .button__text {
    margin-left: calc(8px - 12px);
}

/* 
	@modifier toggle 
*/
.button--toggle {
    min-width: 48px;
    height: 48px;
    border-radius: 0;
    background-color: var(--color-surface);
    color: var(--color-on-surface);
    box-shadow: inset 0 0 0 1px var(--color-black-12);
}

/* .button--toggle .button__text {} */

.button--toggle .button__icon {
    width: 24px;
    height: 24px;
    font-size: 18px;
}

/* 
	@blockGroup group 
*/
.button-group {
    display: inline-flex;
    vertical-align: middle;
}

/* .button-group .button {} */

/* .button-group .button--outlined {} */

/* .button-group .button--contained {} */

/* .button-group .button--toggle {} */

.button-group .button--toggle + .button--toggle {
    margin-left: -1px;
}

.button-group .button--toggle[activated] {
    z-index: 1;
}

/* 
	@state button 
*/
.button {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
}
.button::after {
    content: "";
    position: absolute;
    overflow: hidden;
    pointer-events: none;
    left: var(--ripple-left, 50%);
    top: var(--ripple-top, 50%);
    width: var(--ripple-circumference, 141.4213562373095%);
    padding-top: var(--ripple-circumference, 141.4213562373095%);
    border-radius: 50%;
    transform: translate3d(-50%, -50%, 0) translate3d(var(--ripple-translateX, 0), var(--ripple-translateY, 0), 0);
    background-color: var(--color-primary);
    opacity: 0;
}

.button[disabled] {
    cursor: default;
    pointer-events: none;
    opacity: 0.38;
}
.button[disabled]::after {
    opacity: 0;
}

/* .button:hover {} */
.button:hover::after {
    opacity: 0.04;
}

/* .button:focus {} */
.button:focus::after {
    opacity: 0.12;
    animation: var(--ripple-animation, ripple-out) 300ms ease-in-out forwards;
}

/* .button.button--filter[selected] {} */
.button.button--filter:not([selected]):focus:not(:active)::after {
    --ripple-left: 50%;
    --ripple-top: 50%;
    /* --ripple-circumference: 83.33333333333334%; */
    --ripple-translateX: 0;
    --ripple-translateY: 0;
    --ripple-animation: ripple-in;
}
.button.button--filter[selected]::after {
    background-color: var(--color-primary);
    opacity: 0.08;
    animation-name: ripple-out;
    animation-fill-mode: backwards;
}

.button.button--toggle[activated] {
    color: var(--color-primary);
}
.button.button--toggle:not([activated]):focus:not(:active)::after {
    --ripple-left: 50%;
    --ripple-top: 50%;
    /* --ripple-circumference: 83.33333333333334%; */
    --ripple-translateX: 0;
    --ripple-translateY: 0;
    --ripple-animation: ripple-in;
}
.button.button--toggle[activated]::after {
    background-color: var(--color-primary);
    opacity: 0.12;
    animation-name: ripple-out;
    animation-fill-mode: backwards;
}

/* .button:active {} */
.button:active::after {
    opacity: 0.16;
}

/* .button[dragged] {} */
.button[dragged]::after {
    opacity: 0.08;
}

/* 
	@state button 
*/
/* .button--contained {} */
.button--contained::after {
    background-color: var(--color-on-primary);
    opacity: 0;
}

.button--contained[disabled] {
    opacity: 0.38;
}
.button--contained[disabled]::after {
    opacity: 0;
}

/* .button--contained:hover {} */
.button--contained:hover::after {
    opacity: 0.08;
}

/* .button--contained:focus {} */
.button--contained:focus::after {
    opacity: 0.24;
}

/* .button--contained.button--filter[selected] {} */
/* .button--contained.button--filter:not([selected]):focus:not(:active)::after {} */
.button--contained.button--filter[selected]::after {
    background-color: var(--color-primary);
    opacity: 0.16;
}

.button--contained.button--toggle[activated] {
    color: var(--color-primary);
}
/* .button--contained.button--toggle:not([activated]):focus:not(:active)::after {} */
.button--contained.button--toggle[activated]::after {
    background-color: var(--color-primary);
    opacity: 0.24;
}

/* .button--contained:active {} */
.button--contained:active::after {
    opacity: 0.32;
}

/* .button--contained[dragged] {} */
.button--contained[dragged]::after {
    opacity: 0.16;
}