/* 
	@block layout 
*/
wk-layout {
    display: block;
    margin: 0 24px;
}

/* 
	@element grid 
*/
wk-layout-grid {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-gap: 24px;
}

/* 
	@element column 
*/
wk-layout-column {
    display: block;
    grid-column-end: span 4;
}

wk-layout-column[column="1"] { grid-column-end: span 1; }
wk-layout-column[column="2"] { grid-column-end: span 2; }
wk-layout-column[column="3"] { grid-column-end: span 3; }
wk-layout-column[column="4"] { grid-column-end: span 4; }
wk-layout-column[column="5"] { grid-column-end: span 5; }
wk-layout-column[column="6"] { grid-column-end: span 6; }
wk-layout-column[column="7"] { grid-column-end: span 7; }
wk-layout-column[column="8"] { grid-column-end: span 8; }
wk-layout-column[column="9"] { grid-column-end: span 9; }
wk-layout-column[column="10"] { grid-column-end: span 10; }
wk-layout-column[column="11"] { grid-column-end: span 11; }
wk-layout-column[column="12"] { grid-column-end: span 12; }

@media (min-width: 840px) {
    wk-layout {
        margin: 0 24px;
    }
    wk-layout-grid {
        grid-template-columns: repeat(12, minmax(0, 1fr));
        grid-gap: 24px;
    }
    wk-layout-column[columnLarge="1"] { grid-column-end: span 1; }
    wk-layout-column[columnLarge="2"] { grid-column-end: span 2; }
    wk-layout-column[columnLarge="3"] { grid-column-end: span 3; }
    wk-layout-column[columnLarge="4"] { grid-column-end: span 4; }
    wk-layout-column[columnLarge="5"] { grid-column-end: span 5; }
    wk-layout-column[columnLarge="6"] { grid-column-end: span 6; }
    wk-layout-column[columnLarge="7"] { grid-column-end: span 7; }
    wk-layout-column[columnLarge="8"] { grid-column-end: span 8; }
    wk-layout-column[columnLarge="9"] { grid-column-end: span 9; }
    wk-layout-column[columnLarge="10"] { grid-column-end: span 10; }
    wk-layout-column[columnLarge="11"] { grid-column-end: span 11; }
    wk-layout-column[columnLarge="12"] { grid-column-end: span 12; }
}

@media (min-width: 480px) and (max-width: 840px) {
    wk-layout {
        margin: 0 24px;
    }
    wk-layout-grid {
        grid-template-columns: repeat(8, minmax(0, 1fr));
        grid-gap: 24px;
    }
    wk-layout-column[columnMedium="1"] { grid-column-end: span 1; }
    wk-layout-column[columnMedium="2"] { grid-column-end: span 2; }
    wk-layout-column[columnMedium="3"] { grid-column-end: span 3; }
    wk-layout-column[columnMedium="4"] { grid-column-end: span 4; }
    wk-layout-column[columnMedium="5"] { grid-column-end: span 5; }
    wk-layout-column[columnMedium="6"] { grid-column-end: span 6; }
    wk-layout-column[columnMedium="7"] { grid-column-end: span 7; }
    wk-layout-column[columnMedium="8"] { grid-column-end: span 8; }
}

@media (max-width: 480px) {
    wk-layout {
        margin: 0 16px;
    }
    wk-layout-grid {
        grid-template-columns: repeat(4, minmax(0, 1fr));
        grid-gap: 16px;
    }
    wk-layout-column[columnSmall="1"] { grid-column-end: span 1; }
    wk-layout-column[columnSmall="2"] { grid-column-end: span 2; }
    wk-layout-column[columnSmall="3"] { grid-column-end: span 3; }
    wk-layout-column[columnSmall="4"] { grid-column-end: span 4; }
}
