<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WK</title>
    <link rel="stylesheet" href="../index.css">
</head>

<body class="demo-body">

    <iframe class="demo-iframe" src="./index.1.html" style="width: 360px;height: calc(640px - 24px);border: 0;"></iframe>
    <a href="./index.1.html">./index.1.html</a>
    <br><br>

    <iframe class="demo-iframe" src="./index.2.html" style="width: 360px;height: calc(640px - 24px);border: 0;"></iframe>
    <a href="./index.2.html">./index.2.html</a>
    <br><br>

    <iframe class="demo-iframe" src="./index.3.html" style="width: 360px;height: calc(640px - 24px);border: 0;"></iframe>
    <a href="./index.3.html">./index.3.html</a>
    <br><br>

    <script src="../index.js" type="module"></script>
</body>

</html>