.ripple {
    cursor: pointer;
    user-select: none;
    position: relative;
    /* overflow: hidden; */
}

/* .ripple::before {} */

.ripple::after {
    content: '';
    pointer-events: none;
    position: absolute;
    z-index: 1;
    left: var(--ripple-left, 50%);
    top: var(--ripple-top, 50%);
    transform: translate3d(-50%, -50%, 0) translate3d(var(--ripple-translateX, 0), var(--ripple-translateY, 0), 0);
    width: var(--ripple-size, 256px);
    height: var(--ripple-size, 256px);
    border-radius: 50%;
    background-color: #000000;
    opacity: 0;
}

.ripple:hover::after {
    opacity: 0.04;
}

.ripple:focus::after {
    opacity: 0.12;
    animation: var(--ripple-animation, ripple-pressed 250ms linear);
    transition: width 250ms ease-in-out, height 250ms ease-in-out, opacity 250ms ease-in-out;
}

.ripple:active::after {
    opacity: 0.16;
}






.ripple.is-selected::after {
    background-color: #6200ee;
    opacity: 0.08;
}

.ripple.is-activated::after {
    background-color: #6200ee;
    opacity: 0.12;
}

.ripple.is-dragged::after {
    opacity: 0.08;
}

.ripple.is-disabled::after {
    opacity: 0;
}

@keyframes ripple-pressed {
    0% {
        width: 0;
        height: 0;
    }

    100% {
        width: var(--ripple-size, 256px);
        height: var(--ripple-size, 256px);
    }
}