<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WK</title>
    <link rel="stylesheet" href="../index.css">
</head>

<body>

    <!-- <div class="demo-layout layout">
        <div class="layout__grid">
            <div class="demo-layout-column layout__column layout__column--3-large layout__column--2-medium layout__column--2-small">3</div>
            <div class="demo-layout-column layout__column layout__column--3-large layout__column--2-medium layout__column--2-small">3</div>
            <div class="demo-layout-column layout__column layout__column--3-large layout__column--2-medium layout__column--2-small">3</div>
            <div class="demo-layout-column layout__column layout__column--3-large layout__column--2-medium layout__column--2-small">3</div>
        </div>
    </div> -->

    <div class="demo-layout layout">
        <div class="layout__grid">
            <div class="demo-layout-column layout__column layout__column--1">1</div>
            <div class="demo-layout-column layout__column layout__column--11">11</div>
            <div class="demo-layout-column layout__column layout__column--2">2</div>
            <div class="demo-layout-column layout__column layout__column--10">10</div>
            <div class="demo-layout-column layout__column layout__column--3">3</div>
            <div class="demo-layout-column layout__column layout__column--9">9</div>
            <div class="demo-layout-column layout__column layout__column--4">4</div>
            <div class="demo-layout-column layout__column layout__column--8">8</div>
            <div class="demo-layout-column layout__column layout__column--5">5</div>
            <div class="demo-layout-column layout__column layout__column--7">7</div>
            <div class="demo-layout-column layout__column layout__column--6">6</div>
            <div class="demo-layout-column layout__column layout__column--6">6</div>
            <div class="demo-layout-column layout__column layout__column--12">12</div>
        </div>
    </div>

    <div class="demo-layout layout">
        <div class="layout__grid">
            <div class="demo-layout-column layout__column layout__column--1-large">1</div>
            <div class="demo-layout-column layout__column layout__column--11-large">11</div>
            <div class="demo-layout-column layout__column layout__column--2-large">2</div>
            <div class="demo-layout-column layout__column layout__column--10-large">10</div>
            <div class="demo-layout-column layout__column layout__column--3-large">3</div>
            <div class="demo-layout-column layout__column layout__column--9-large">9</div>
            <div class="demo-layout-column layout__column layout__column--4-large">4</div>
            <div class="demo-layout-column layout__column layout__column--8-large">8</div>
            <div class="demo-layout-column layout__column layout__column--5-large">5</div>
            <div class="demo-layout-column layout__column layout__column--7-large">7</div>
            <div class="demo-layout-column layout__column layout__column--6-large">6</div>
            <div class="demo-layout-column layout__column layout__column--6-large">6</div>
            <div class="demo-layout-column layout__column layout__column--12-large">12</div>
        </div>
    </div>

    <div class="demo-layout layout">
        <div class="layout__grid">
            <div class="demo-layout-column layout__column layout__column--1-medium">1</div>
            <div class="demo-layout-column layout__column layout__column--7-medium">7</div>
            <div class="demo-layout-column layout__column layout__column--2-medium">2</div>
            <div class="demo-layout-column layout__column layout__column--6-medium">6</div>
            <div class="demo-layout-column layout__column layout__column--3-medium">3</div>
            <div class="demo-layout-column layout__column layout__column--5-medium">5</div>
            <div class="demo-layout-column layout__column layout__column--4-medium">4</div>
            <div class="demo-layout-column layout__column layout__column--4-medium">4</div>
            <div class="demo-layout-column layout__column layout__column--8-medium">8</div>
        </div>
    </div>

    <div class="demo-layout layout">
        <div class="layout__grid">
            <div class="demo-layout-column layout__column layout__column--1-small">1</div>
            <div class="demo-layout-column layout__column layout__column--3-small">3</div>
            <div class="demo-layout-column layout__column layout__column--2-small">2</div>
            <div class="demo-layout-column layout__column layout__column--2-small">2</div>
            <div class="demo-layout-column layout__column layout__column--4-small">4</div>
        </div>
    </div>

    <script src="../index.js" type="module"></script>
</body>

</html>