<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WK</title>
    <link rel="stylesheet" href="../index.css">
</head>

<body>

    <div class="demo-layout layout">
        <div class="layout__grid">
            <div class="demo-layout-column layout__column"></div>
            <div class="demo-layout-column layout__column"></div>
            <div class="demo-layout-column layout__column"></div>
        </div>
    </div>

    <div class="demo-layout layout">
        <div class="layout__grid">
            <div class="demo-layout-column layout__column layout__column--1"></div>
            <div class="demo-layout-column layout__column layout__column--11"></div>
            <div class="demo-layout-column layout__column layout__column--2"></div>
            <div class="demo-layout-column layout__column layout__column--10"></div>
            <div class="demo-layout-column layout__column layout__column--3"></div>
            <div class="demo-layout-column layout__column layout__column--9"></div>
            <div class="demo-layout-column layout__column layout__column--4"></div>
            <div class="demo-layout-column layout__column layout__column--8"></div>
            <div class="demo-layout-column layout__column layout__column--5"></div>
            <div class="demo-layout-column layout__column layout__column--7"></div>
            <div class="demo-layout-column layout__column layout__column--6"></div>
            <div class="demo-layout-column layout__column layout__column--6"></div>
            <div class="demo-layout-column layout__column layout__column--12"></div>
        </div>
    </div>

    <div class="demo-layout layout">
        <div class="layout__grid">
            <div class="demo-layout-column layout__column layout__column--1-large"></div>
            <div class="demo-layout-column layout__column layout__column--11-large"></div>
            <div class="demo-layout-column layout__column layout__column--2-large"></div>
            <div class="demo-layout-column layout__column layout__column--10-large"></div>
            <div class="demo-layout-column layout__column layout__column--3-large"></div>
            <div class="demo-layout-column layout__column layout__column--9-large"></div>
            <div class="demo-layout-column layout__column layout__column--4-large"></div>
            <div class="demo-layout-column layout__column layout__column--8-large"></div>
            <div class="demo-layout-column layout__column layout__column--5-large"></div>
            <div class="demo-layout-column layout__column layout__column--7-large"></div>
            <div class="demo-layout-column layout__column layout__column--6-large"></div>
            <div class="demo-layout-column layout__column layout__column--6-large"></div>
            <div class="demo-layout-column layout__column layout__column--12-large"></div>
        </div>
    </div>

    <div class="demo-layout layout">
        <div class="layout__grid">
            <div class="demo-layout-column layout__column layout__column--1-medium"></div>
            <div class="demo-layout-column layout__column layout__column--7-medium"></div>
            <div class="demo-layout-column layout__column layout__column--2-medium"></div>
            <div class="demo-layout-column layout__column layout__column--6-medium"></div>
            <div class="demo-layout-column layout__column layout__column--3-medium"></div>
            <div class="demo-layout-column layout__column layout__column--5-medium"></div>
            <div class="demo-layout-column layout__column layout__column--4-medium"></div>
            <div class="demo-layout-column layout__column layout__column--4-medium"></div>
            <div class="demo-layout-column layout__column layout__column--8-medium"></div>
        </div>
    </div>

    <div class="demo-layout layout">
        <div class="layout__grid">
            <div class="demo-layout-column layout__column layout__column--1-small"></div>
            <div class="demo-layout-column layout__column layout__column--3-small"></div>
            <div class="demo-layout-column layout__column layout__column--2-small"></div>
            <div class="demo-layout-column layout__column layout__column--2-small"></div>
            <div class="demo-layout-column layout__column layout__column--4-small"></div>
        </div>
    </div>

    <script src="../index.js" type="module"></script>
</body>

</html>