.layout {
    margin: 0 24px;
}

.layout__grid {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-gap: 24px;
}

.layout__column {
    grid-column-end: span 4;
}

.layout__column--1 {
    grid-column-end: span 1;
}

.layout__column--2 {
    grid-column-end: span 2;
}

.layout__column--3 {
    grid-column-end: span 3;
}

.layout__column--4 {
    grid-column-end: span 4;
}

.layout__column--5 {
    grid-column-end: span 5;
}

.layout__column--6 {
    grid-column-end: span 6;
}

.layout__column--7 {
    grid-column-end: span 7;
}

.layout__column--8 {
    grid-column-end: span 8;
}

.layout__column--9 {
    grid-column-end: span 9;
}

.layout__column--10 {
    grid-column-end: span 10;
}

.layout__column--11 {
    grid-column-end: span 11;
}

.layout__column--12 {
    grid-column-end: span 12;
}





@media (min-width: 840px) {
    .layout {
        margin: 0 24px;
    }

    .layout__grid {
        grid-template-columns: repeat(12, minmax(0, 1fr));
        grid-gap: 24px;
    }

    .layout__column--1-desktop {
        grid-column-end: span 1;
    }

    .layout__column--2-desktop {
        grid-column-end: span 2;
    }

    .layout__column--3-desktop {
        grid-column-end: span 3;
    }

    .layout__column--4-desktop {
        grid-column-end: span 4;
    }

    .layout__column--5-desktop {
        grid-column-end: span 5;
    }

    .layout__column--6-desktop {
        grid-column-end: span 6;
    }

    .layout__column--7-desktop {
        grid-column-end: span 7;
    }

    .layout__column--8-desktop {
        grid-column-end: span 8;
    }

    .layout__column--9-desktop {
        grid-column-end: span 9;
    }

    .layout__column--10-desktop {
        grid-column-end: span 10;
    }

    .layout__column--11-desktop {
        grid-column-end: span 11;
    }

    .layout__column--12-desktop {
        grid-column-end: span 12;
    }
}






@media (min-width: 480px) and  (max-width: 840px) {
    .layout {
        margin: 0 24px;
    }

    .layout__grid {
        grid-template-columns: repeat(8, minmax(0, 1fr));
        grid-gap: 24px;
    }

    .layout__column--1-tablet {
        grid-column-end: span 1;
    }

    .layout__column--2-tablet {
        grid-column-end: span 2;
    }

    .layout__column--3-tablet {
        grid-column-end: span 3;
    }

    .layout__column--4-tablet {
        grid-column-end: span 4;
    }

    .layout__column--5-tablet {
        grid-column-end: span 5;
    }

    .layout__column--6-tablet {
        grid-column-end: span 6;
    }

    .layout__column--7-tablet {
        grid-column-end: span 7;
    }

    .layout__column--8-tablet {
        grid-column-end: span 8;
    }
}






@media (max-width: 480px) {
    .layout {
        margin: 0 16px;
    }

    .layout__grid {
        grid-template-columns: repeat(4, minmax(0, 1fr));
        grid-gap: 16px;
    }

    .layout__column--1-mobile {
        grid-column-end: span 1;
    }

    .layout__column--2-mobile {
        grid-column-end: span 2;
    }

    .layout__column--3-mobile {
        grid-column-end: span 3;
    }

    .layout__column--4-mobile {
        grid-column-end: span 4;
    }
}