/* 
	@block icon 
*/
.icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    font-weight: 400; font-size: 18px; line-height: 1;
    font-family: "Segoe MDL2 Assets";
}
