/* 
    @state text-field__input
*/
.text-field__input ~ .text-field__container {
    position: relative;
    overflow: hidden;
    /* cursor: pointer; */
    /* user-select: none; */
}
.text-field__input ~ .text-field__container::after {
    content: "";
    position: absolute;
    overflow: hidden;
    pointer-events: none;
    left: var(--ripple-left, 50%);
    top: var(--ripple-top, 50%);
    width: var(--ripple-circumference, 141.4213562373095%);
    padding-top: var(--ripple-circumference, 141.4213562373095%);
    border-radius: 50%;
    transform: translate3d(-50%, -50%, 0) translate3d(var(--ripple-translateX, 0), var(--ripple-translateY, 0), 0);
    background-color: var(--color-on-surface);
    opacity: 0;
}

/* .text-field--outlined .text-field__input ~ .text-field__container {} */
.text-field--outlined .text-field__input ~ .text-field__container::after {
    background-color: var(--color-surface);
}

/* .text-field__input:hover ~ .text-field__container {} */
.text-field__input:hover ~ .text-field__container::after { opacity: 0.04; /* dark: 0.08; */ }

/* .text-field__input:focus ~ .text-field__container {} */
.text-field__input:focus ~ .text-field__container::after { 
    /* opacity: 0.12;  */
    /* dark: 0.24; */ 
    opacity: 0; 
    animation: var(--ripple-animation, ripple-out) 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
}

/* .text-field__input:active ~ .text-field__container {} */
.text-field__input:active ~ .text-field__container::after { opacity: 0.16; /* dark: 0.32; */ }

/* .text-field__input[selected] ~ .text-field__container {} */
.text-field__input[selected] ~ .text-field__container::after { 
    background-color: var(--color-primary);
    opacity: 0.08; /* dark: 0.16; */ 
}

.text-field__input[activated] ~ .text-field__container {
    color: var(--color-primary);
}
.text-field__input[activated] ~ .text-field__container::after { 
    background-color: var(--color-primary);
    opacity: 0.12; /* dark: 0.24; */ 
}

/* .text-field__input[dragged] ~ .text-field__container {} */
.text-field__input[dragged] ~ .text-field__container::after { opacity: 0.08; /* dark: 0.16; */ }

.text-field__input[disabled] ~ .text-field__container {
    cursor: default;
    pointer-events: none;
    opacity: 0.38;
}
.text-field__input[disabled] ~ .text-field__container::after { opacity: 0; }

/* 
    @state text-field__icon
*/
.text-field__icon {
    --ripple-circumference: 166.66666666666669%;
    position: relative;
    /* overflow: hidden; */
    cursor: pointer;
    user-select: none;
}
.text-field__icon::after {
    content: "";
    position: absolute;
    overflow: hidden;
    pointer-events: none;
    left: var(--ripple-left, 50%);
    top: var(--ripple-top, 50%);
    width: var(--ripple-circumference, 141.4213562373095%);
    padding-top: var(--ripple-circumference, 141.4213562373095%);
    border-radius: 50%;
    transform: translate3d(-50%, -50%, 0) translate3d(var(--ripple-translateX, 0), var(--ripple-translateY, 0), 0);
    background-color: var(--color-primary);
    opacity: 0;
}

/* .text-field__icon:hover {} */
.text-field__icon:hover::after { opacity: 0.08; }

/* .text-field__icon:focus {} */
.text-field__icon:focus::after { 
    opacity: 0.24; 
    animation: var(--ripple-animation, ripple-out) 300ms ease-in-out;
}

/* .text-field__icon:active {} */
.text-field__icon:active::after { opacity: 0.32; }

/* .text-field__icon[selected] {} */
.text-field__icon[selected]::after { 
    background-color: var(--color-primary);
    opacity: 0.16; 
}

.text-field__icon[activated] {
    color: var(--color-primary);
}
.text-field__icon[activated]::after { 
    background-color: var(--color-primary);
    opacity: 0.24; 
}

/* .text-field__icon[dragged] {} */
.text-field__icon[dragged]::after { opacity: 0.16; }

.text-field__icon[disabled] {
    cursor: default;
    pointer-events: none;
    opacity: 0.38;
}
.text-field__icon[disabled]::after { opacity: 0; }
