.text-field {
    display: inline-grid;
    align-items: center;
    position: relative;
    grid-template-columns: auto minmax(0, 1fr) auto;
    width: 280px;
}

.text-field__input {
    grid-row: 1/2;
    grid-column: 2/3;
    height: 56px;
    padding: 0 12px;
    padding-top: calc((56px - 24px) / 2);
    padding-bottom: calc((56px - 24px) / 2);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    background-color: transparent;
    color: rgba(0, 0, 0, 0.87);
}

.text-field__container {
    grid-row: 1/2;
    grid-column: 1/4;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 4px 4px 0 0;
    background-color: rgba(0, 0, 0, 0.04);
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.12);
}

.text-field__label {
    position: absolute;
    pointer-events: none;
    left: calc(12px - 4px);
    top: calc((56px - 24px) / 2);
    grid-row: 1/2;
    grid-column: 1/4;
    padding: 0 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.54);
}

.text-field__section {
    display: flex;
    align-items: center;
    grid-row: 1/2;
}

.text-field__section--start {
    justify-content: flex-start;
    grid-column: 1/2;
}

.text-field__section--end {
    justify-content: flex-end;
    grid-column: 3/4;
}

.text-field__icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    margin: 0 12px;
    color: rgba(0, 0, 0, 0.54);
}

.text-field__meta {
    height: 56px;
    padding: 0 12px;
    padding-top: calc((56px - 24px) / 2);
    padding-bottom: calc((56px - 24px) / 2);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.54);
}

.text-field__section--start .text-field__meta {
    padding-right: 0;
}

.text-field__section--end .text-field__meta {
    padding-left: 0;
}

.text-field__message {
    display: inline-grid;
    grid-template-columns: minmax(0, 1fr) auto;
    grid-row: 2/3;
    grid-column: 1/4;
    margin: 0 12px;
    margin-top: calc(16px - (16px - ((16px - 12px) / 2)));
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.54);
}

.text-field__message-error {
    grid-column: 1/2;
}

.text-field__message-helper {
    grid-column: 1/2;
}

.text-field__message-counter {
    grid-row: 1/2;
    grid-column: 2/3;
    margin: 0 0 0 12px;
}






.text-field--with-prefix-icon .text-field__input {
    padding-left: 0;
}

.text-field--with-prefix-meta .text-field__input {
    padding-left: 0;
}

.text-field--with-suffix-icon .text-field__input {
    padding-right: 0;
}

.text-field--with-suffix-meta .text-field__input {
    padding-right: 0;
}

/* .text-field--with-label {} */

.text-field--with-label.text-field--with-prefix-icon .text-field__label {
    left: calc(48px - 4px);
}

.text-field--with-label:not(.text-field--outlined) .text-field__input {
    padding-top: calc(40px - (24px - ((24px - 16px) / 2)));
    padding-bottom: calc(56px - 40px - ((24px - 16px) / 2));
}

.text-field--with-label:not(.text-field--outlined) .text-field__meta {
    padding-top: calc(40px - (24px - ((24px - 16px) / 2)));
    padding-bottom: calc(56px - 40px - ((24px - 16px) / 2));
}





.text-field__input:placeholder-shown ~ .text-field__message .text-field__message-error,
.text-field__input:not(:placeholder-shown):valid ~ .text-field__message .text-field__message-error,
.text-field__input:not(:placeholder-shown):invalid ~ .text-field__message .text-field__message-helper,
.text-field__input:not([maxlength]):not([minlength]) ~ .text-field__message .text-field__message-counter {
    display: none;
}

.text-field--with-label .text-field__input:not(:focus):placeholder-shown::placeholder {
    color: transparent;
}

.text-field--with-label .text-field__input:not(:focus):placeholder-shown ~ .text-field__section .text-field__meta {
    color: transparent;
}

.text-field--with-label .text-field__input:focus ~ .text-field__label,
.text-field--with-label .text-field__input:not(:placeholder-shown) ~ .text-field__label {
    top: calc(20px - (16px - ((16px - 12px) / 2)));
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}





.text-field__input:focus ~ .text-field__container {
    box-shadow: inset 0 -2px 0 0 #6200ee;
}

.text-field__input:focus ~ .text-field__label,
.text-field__input:focus ~ .text-field__section--start .text-field__icon {
    color: #6200ee;
}






.text-field__input:not(:placeholder-shown):invalid ~ .text-field__container {
    box-shadow: inset 0 -2px 0 0 #b00020;
}

.text-field__input:not(:placeholder-shown):invalid ~ .text-field__label,
.text-field__input:not(:placeholder-shown):invalid ~ .text-field__section .text-field__icon,
.text-field__input:not(:placeholder-shown):invalid ~ .text-field__message .text-field__message-error {
    color: #b00020;
}





/* .text-field--outlined {} */

.text-field--outlined .text-field__container {
    border-radius: 4px;
    background-color: transparent;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.12);
}

.text-field--outlined.text-field--with-label .text-field__label::before {
    content: '';
    position: absolute;
    z-index: -1;
    left: 0;
    top: calc(0px - ((56px - 24px) / 2));
    width: 0;
    height: 1px;
    background-color: #ffffff;
}

.text-field--outlined.text-field--with-label .text-field__input:focus ~ .text-field__label,
.text-field--outlined.text-field--with-label .text-field__input:not(:placeholder-shown) ~ .text-field__label {
    left: calc(12px - 4px);
    top: calc(0px - (16px / 2));
}

.text-field--outlined.text-field--with-label .text-field__input:focus ~ .text-field__label::before,
.text-field--outlined.text-field--with-label .text-field__input:not(:placeholder-shown) ~ .text-field__label::before {
    top: calc((16px / 2));
    width: 100%;
    height: 2px;
}





.text-field--outlined .text-field__input:focus ~ .text-field__container {
    box-shadow: inset 0 0 0 2px #6200ee;
}

.text-field--outlined .text-field__input:not(:placeholder-shown):invalid ~ .text-field__container {
    box-shadow: inset 0 0 0 2px #b00020;
}