/* 
	@block list 
*/
.list {
    padding: 8px 0;
    background-color: var(--color-surface);
    color: var(--color-focused-on-light);
}

/* 
	@element row 
*/
/* .list__row {} */

/* 
	@element item 
*/
.list__item {
    display: flex;
    align-items: center;
    min-height: 48px;
}

/* 
	@element text 
*/
.list__text {
    flex: 1;
    margin: 0 16px;
    font-weight: 400; font-size: 16px; line-height: 24px;
}

/* 
	@element control 
*/
.list__control {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    margin: 12px 16px;
    font-weight: 400; font-size: 18px; line-height: 1;
    font-family: "Segoe MDL2 Assets";
    color: var(--color-unfocused-on-light);
    background-color: var(--color-inactive-on-light);
}

/* 
	@element icon 
*/
.list__icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    margin: 16px;
    font-weight: 400; font-size: 18px; line-height: 1;
    font-family: "Segoe MDL2 Assets";
    color: var(--color-unfocused-on-light);
}

/* 
	@element thumb 
*/
.list__thumb {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    font-weight: 400; font-size: 18px; line-height: 1;
    font-family: "Segoe MDL2 Assets";
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--color-unfocused-on-light);
}

.list__text ~ .list__control {
    margin-left: calc(16px - 16px);
}
.list__icon ~ .list__text {
    margin-left: calc(32px - 16px);
}
.list__thumb ~ .list__text {
    margin-left: calc(16px - 16px);
}

/* 
	@element supporting 
*/
.list__supporting {
    display: flex;
    align-items: baseline;
    flex: 1;
}

/* 
	@element text-primary 
*/
.list__text-primary {
    font-weight: 400; font-size: 16px; line-height: 24px;
}

/* 
	@element text-secondary 
*/
.list__text-secondary {
    font-weight: 400; font-size: 14px; line-height: 20px;
    color: var(--color-unfocused-on-light);
}

/* 
	@element meta 
*/
.list__meta {
    margin: 0 16px 0 28px;
    font-weight: 400; font-size: 12px; line-height: 16px;
    color: var(--color-unfocused-on-light);
}

.list__text ~ .list__meta {
    margin-left: calc(28px - 16px);
}

/* 
	@element text-overline 
*/
.list__text-overline {
    font-weight: 400; font-size: 10px; line-height: 12px; text-transform: uppercase;
    color: var(--color-unfocused-on-light);
}

/* 
	@elementModifier circle 
*/
.list__thumb--circle {
    width: 40px;
    height: 40px;
    margin: 8px 16px;
    border-radius: 50%;
}

/* 
	@elementModifier square 
*/
.list__thumb--square {
    width: 56px;
    height: 56px;
    margin: 8px 16px;
}

/* 
	@elementModifier rectangle 
*/
.list__thumb--rectangle {
    width: 100px;
    height: 56px;
    margin: 8px 16px 8px 0;
}

/* 
	@modifier two-line 
*/
/* .list--two-line {} */

/* .list--two-line .list__row {} */

.list--two-line .list__item {
    min-height: 64px;
}

/* .list--two-line .list__text {} */

/* .list--two-line .list__control {} */

.list--two-line .list__icon {
    margin-top: 16px;
    margin-bottom: calc(72px - 16px - 24px);
}

/* .list--two-line .list__thumb {} */

/* .list--two-line .list__supporting {} */

/* .list--two-line .list__text-primary {} */

/* .list--two-line .list__text-secondary {} */

/* .list--two-line .list__meta {} */

/* .list--two-line .list__text-overline {} */

.list--two-line .list__thumb--circle {
    margin-top: 16px;
    margin-bottom: 16px;
}

.list--two-line .list__thumb--square {
    width: 40px;
    height: 40px;
    margin-top: 16px;
    margin-bottom: 16px;
}

/* .list--two-line .list__thumb--rectangle {} */

/* 
	@modifier three-line 
*/
/* .list--three-line {} */

/* .list--three-line .list__row {} */

.list--three-line .list__item {
    height: 88px;
}

/* .list--three-line .list__text {} */

.list--three-line .list__control {
    margin-top: 16px;
    margin-bottom: calc(88px - 16px - 24px);
}

.list--three-line .list__icon {
    margin-top: 16px;
    margin-bottom: calc(88px - 16px - 24px);
}

/* .list--three-line .list__thumb {} */

/* .list--three-line .list__supporting {} */

/* .list--three-line .list__text-primary {} */

.list--three-line .list__text-secondary {
    max-height: 40px; /* 2x line-height */
    overflow: hidden;
}

/* .list--three-line .list__meta {} */

/* .list--three-line .list__text-overline {} */

.list--three-line .list__text-overline ~ .list__text-secondary {
    max-height: 20px;
}

.list--three-line .list__thumb--circle {
    margin-top: 16px;
    margin-bottom: calc(88px - 16px - 40px);
}

.list--three-line .list__thumb--square {
    width: 40px;
    height: 40px;
    margin-top: 16px;
    margin-bottom: calc(88px - 16px - 40px);
}

.list--three-line .list__thumb--rectangle {
    margin-top: 16px;
    margin-bottom: 16px;
    margin-right: 20px;
}

/* 
    @component list
*/
.list .list {
    padding-top: 0;
    padding-bottom: 0;
}

.list__divider {
    height: 1px;
    background-color: var(--color-black-12);
    margin: 8px 0 7px 0;
}

.list__subheader {
    display: flex;
    align-items: center;
    height: 48px;
    padding: 0 16px;
    font-weight: 400; font-size: 14px; line-height: 20px;
}

.list__divider ~ .list__subheader {
    margin-top: -8px;
}

.list__subheader ~ .list {
    margin-top: -12px;
}