/* 
    @state checkbox
*/
.checkbox__input {
    cursor: pointer;
    user-select: none;
}
.checkbox__input ~ .checkbox__track {
    --ripple-circumference: 285.7142857142857%;
    position: relative;
    /* overflow: hidden; */
}
.checkbox__input ~ .checkbox__track::after {
    content: "";
    position: absolute;
    overflow: hidden;
    pointer-events: none;
    left: var(--ripple-left, 50%);
    top: var(--ripple-top, 50%);
    width: var(--ripple-circumference, 141.4213562373095%);
    padding-top: var(--ripple-circumference, 141.4213562373095%);
    border-radius: 50%;
    transform: translate3d(-50%, -50%, 0) translate3d(var(--ripple-translateX, 0), var(--ripple-translateY, 0), 0);
    background-color: var(--color-primary);
    opacity: 0;
}

/* .checkbox__input:not(:indeterminate):not(:checked) ~ .checkbox__track {} */
.checkbox__input:not(:indeterminate):not(:checked) ~ .checkbox__track::after {
    background-color: var(--color-on-surface);
}

/* .checkbox__input:hover ~ .checkbox__track {} */
.checkbox__input:hover ~ .checkbox__track::after { opacity: 0.04; /* dark: 0.08; */ }

/* .checkbox__input:focus ~ .checkbox__track {} */
.checkbox__input:focus ~ .checkbox__track::after { 
    opacity: 0.12; /* dark: 0.24; */ 
    animation: var(--ripple-animation, ripple-out) 300ms ease-in-out;
}

/* .checkbox__input:active ~ .checkbox__track {} */
.checkbox__input:active ~ .checkbox__track::after { opacity: 0.16; /* dark: 0.32; */ }

/* .checkbox__input[selected] ~ .checkbox__track {} */
.checkbox__input[selected] ~ .checkbox__track::after { 
    background-color: var(--color-primary);
    opacity: 0.08; /* dark: 0.16; */ 
}

.checkbox__input[activated] ~ .checkbox__track {
    color: var(--color-primary);
}
.checkbox__input[activated] ~ .checkbox__track::after { 
    background-color: var(--color-primary);
    opacity: 0.12; /* dark: 0.24; */ 
}

/* .checkbox__input[dragged] ~ .checkbox__track {} */
.checkbox__input[dragged] ~ .checkbox__track::after { opacity: 0.08; /* dark: 0.16; */ }

.checkbox__input[disabled] {
    cursor: default;
    pointer-events: none;
}
.checkbox__input[disabled] ~ .checkbox__track {
    opacity: 0.38;
}
.checkbox__input[disabled] ~ .checkbox__track::after { opacity: 0; }
