/* 
    @state switch
*/
.switch__input {
    cursor: pointer;
    user-select: none;
}
.switch__input ~ .switch__track .switch__thumb {
    --ripple-circumference: 200%;
    /* position: relative; */
    /* overflow: hidden; */
}
.switch__input ~ .switch__track .switch__thumb::after {
    content: "";
    position: absolute;
    overflow: hidden;
    pointer-events: none;
    left: var(--ripple-left, 50%);
    top: var(--ripple-top, 50%);
    width: var(--ripple-circumference, 141.4213562373095%);
    padding-top: var(--ripple-circumference, 141.4213562373095%);
    border-radius: 50%;
    transform: translate3d(-50%, -50%, 0) translate3d(var(--ripple-translateX, 0), var(--ripple-translateY, 0), 0);
    background-color: var(--color-primary);
    opacity: 0;
}

/* .switch__input:not(:checked) ~ .switch__track .switch__thumb {} */
.switch__input:not(:checked) ~ .switch__track .switch__thumb::after {
    background-color: var(--color-on-surface);
}

/* .switch__input:hover ~ .switch__track .switch__thumb {} */
.switch__input:hover ~ .switch__track .switch__thumb::after { opacity: 0.04; /* dark: 0.08; */ }

/* .switch__input:focus ~ .switch__track .switch__thumb {} */
.switch__input:focus ~ .switch__track .switch__thumb::after { 
    opacity: 0.12; /* dark: 0.24; */ 
    animation: var(--ripple-animation, ripple-out) 300ms ease-in-out;
}

/* .switch__input:active ~ .switch__track .switch__thumb {} */
.switch__input:active ~ .switch__track .switch__thumb::after { opacity: 0.16; /* dark: 0.32; */ }

/* .switch__input[selected] ~ .switch__track .switch__thumb {} */
.switch__input[selected] ~ .switch__track .switch__thumb::after { 
    background-color: var(--color-primary);
    opacity: 0.08; /* dark: 0.16; */ 
}

.switch__input[activated] ~ .switch__track .switch__thumb {
    color: var(--color-primary);
}
.switch__input[activated] ~ .switch__track .switch__thumb::after { 
    background-color: var(--color-primary);
    opacity: 0.12; /* dark: 0.24; */ 
}

/* .switch__input[dragged] ~ .switch__track .switch__thumb {} */
.switch__input[dragged] ~ .switch__track .switch__thumb::after { opacity: 0.08; /* dark: 0.16; */ }

.switch__input[disabled] {
    cursor: default;
    pointer-events: none;
}
.switch__input[disabled] ~ .switch__track .switch__thumb {
    opacity: 0.38;
}
.switch__input[disabled] ~ .switch__track .switch__thumb::after { opacity: 0; }
