/* 
	@block tab 
*/
.tab {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-width: 90px;
    max-width: 360px;
    min-height: 48px;
    padding: 0 16px;
    background-color: var(--color-surface);
    color: var(--color-unfocused-on-light);
}

/* 
	@element text 
*/
.tab__text {
    margin: calc((48px - 20px) / 2) 0;
    font-weight: 500; font-size: 14px; line-height: 20px; text-transform: uppercase;
}

/* 
	@element icon 
*/
.tab__icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    margin: calc((48px - 24px) / 2) 0;
    font-weight: 400; font-size: 18px; line-height: 1;
    font-family: "Segoe MDL2 Assets";
}

.tab__icon ~ .tab__text {
    margin-top: -10px;
}

.tab[activated] {
    background-color: var(--color-surface);
    color: var(--color-primary);
}

/* 
	@blockGroup bar 
*/
.tab-bar {
    display: flex;
    align-items: center;
    position: relative;
    background-color: var(--color-surface);
    color: var(--color-unfocused-on-light);
}

.tab-bar::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: calc(100% - 2px);
    left: var(--tab-bar-indicator-left, 0);
    width: var(--tab-bar-indicator-width, 150px);
    height: 2px;
    background-color: var(--color-primary);
    transition: 
    left 100ms ease-in-out,
    width 100ms ease-in-out;
}

/* .tab-bar .tab {} */

.tab-bar:not(.tab-bar--scrollable) .tab {
    flex: 1;
}

/* 
	@blockGroupModifier scrollable 
*/
.tab-bar--scrollable {
    overflow: auto hidden;
}
.tab-bar--scrollable::-webkit-scrollbar {
    display: none;
}

.tab-bar.tab-bar--scrollable::before {
    left: var(--tab-bar-indicator-left, 52px);
    width: var(--tab-bar-indicator-width, 90px);
}

/* .tab-bar--scrollable .tab {} */

.tab-bar--scrollable .tab:first-child {
    margin-left: 52px;
}