/* 
	@block chip 
*/
.chip {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    position: relative;
    height: 32px;
    border-radius: calc(32px / 2);
    background-color: var(--color-black-12);
    color: var(--color-focused-on-light);
}

/* 
	@element thumb 
*/
.chip__thumb {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    margin: 0 4px;
    border-radius: 50%;
    font: 400 18px/1 'Segoe MDL2 Assets';
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--color-unfocused-on-light);
}

/* 
	@element text 
*/
.chip__text {
    margin: 0 12px;
    font-weight: 400; font-size: 14px; line-height: 20px;
}

/* 
	@element remove 
*/
.chip__remove {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    margin: 0 8px;
    font: 400 16px/1 'Segoe MDL2 Assets';
    color: var(--color-unfocused-on-light);
}
.chip__remove::before {
    content: "\EB90"
}

/* 
	@element checkmark 
*/
.chip__checkmark {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    margin: 0 4px;
    border-radius: 50%;
    font: 400 18px/1 'Segoe MDL2 Assets';
    color: var(--color-unfocused-on-light);
}
.chip__checkmark::before {
    content: "\E73E";
}

.chip__thumb ~ .chip__checkmark {
    position: absolute;
    left: 0;
    background-color: var(--color-inactive-on-light);
    color: var(--color-focused-on-dark);
}

.chip__thumb ~ .chip__text {
    margin-left: calc(8px - 4px);
}
.chip__text ~ .chip__remove {
    margin-left: calc(8px - 12px);
}
.chip__checkmark ~ .chip__text {
    margin-left: calc(8px - 4px);
}

/* 
	@modifier input 
*/
/* .chip--input {} */

/* .chip--input .chip__thumb {} */

/* .chip--input .chip__text {} */

/* .chip--input .chip__remove {} */

/* .chip--input .chip__checkmark {} */

/* 
	@modifier choice 
*/
/* .chip--choice {} */

/* .chip--choice .chip__thumb {} */

/* .chip--choice .chip__text {} */

/* .chip--choice .chip__remove {} */

/* .chip--choice .chip__checkmark {} */

/* 
	@modifier filter 
*/
/* .chip--filter {} */

/* .chip--filter .chip__thumb {} */

/* .chip--filter .chip__text {} */

/* .chip--filter .chip__remove {} */

/* .chip--filter .chip__checkmark {} */

.chip--filter:not([selected]) .chip__checkmark {
    width: 0;
    height: 0;
    overflow: hidden;
}

/* 
	@modifier action 
*/
/* .chip--action {} */

/* .chip--action .chip__thumb {} */

/* .chip--action .chip__text {} */

/* .chip--action .chip__remove {} */

/* .chip--action .chip__checkmark {} */

/* 
	@modifier outlined 
*/
.chip--outlined {
    background-color: transparent;
    color: var(--color-focused-on-light);
    box-shadow: inset 0 0 0 1px var(--color-black-12);
}

/* .chip--outlined .chip__thumb {} */

/* .chip--outlined .chip__text {} */

/* .chip--outlined .chip__remove {} */

/* .chip--outlined .chip__checkmark {} */

/* 
	@blockGroup group 
*/
.chip-group {
    display: flex;
    flex-wrap: wrap;
    vertical-align: middle;
    padding-left: 8px;
    padding-top: 8px;
}

.chip-group .chip {
    margin-right: 8px;
    margin-bottom: 8px;
}

/* .chip-group .chip--input {} */

/* .chip-group .chip--choice {} */

/* .chip-group .chip--filter {} */

/* .chip-group .chip--action {} */

/* .chip-group .chip--outlined {} */

/* 
	@state ripple 
*/
.chip {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
}
.chip::after {
    content: "";
    position: absolute;
    overflow: hidden;
    pointer-events: none;
    left: var(--ripple-left, 50%);
    top: var(--ripple-top, 50%);
    width: var(--ripple-circumference, 141.4213562373095%);
    padding-top: var(--ripple-circumference, 141.4213562373095%);
    border-radius: 50%;
    transform: translate3d(-50%, -50%, 0) translate3d(var(--ripple-translateX, 0), var(--ripple-translateY, 0), 0);
    background-color: var(--color-on-surface);
    opacity: 0;
}

.chip[disabled] {
    cursor: default;
    pointer-events: none;
    opacity: 0.38;
}
.chip[disabled]::after {
    opacity: 0;
}

/* .chip:hover {} */
.chip:hover::after {
    opacity: 0.04;
}

/* .chip:focus {} */
.chip:focus::after {
    opacity: 0.12;
    animation: var(--ripple-animation, ripple-out) 300ms ease-in-out forwards;
}

/* .chip.chip--filter[selected] {} */
.chip.chip--filter:not([selected]):focus:not(:active)::after {
    --ripple-left: 50%;
    --ripple-top: 50%;
    /* --ripple-circumference: 83.33333333333334%; */
    --ripple-translateX: 0;
    --ripple-translateY: 0;
    --ripple-animation: ripple-in;
}
.chip.chip--filter[selected]::after {
    background-color: var(--color-primary);
    opacity: 0.08;
    animation-name: ripple-out;
    animation-fill-mode: backwards;
}

.chip.chip--choice[activated] {
    color: var(--color-primary);
}
.chip.chip--choice:not([activated]):focus:not(:active)::after {
    --ripple-left: 50%;
    --ripple-top: 50%;
    /* --ripple-circumference: 83.33333333333334%; */
    --ripple-translateX: 0;
    --ripple-translateY: 0;
    --ripple-animation: ripple-in;
}
.chip.chip--choice[activated]::after {
    background-color: var(--color-primary);
    opacity: 0.12;
    animation-name: ripple-out;
    animation-fill-mode: backwards;
}

/* .chip:active {} */
.chip:active::after {
    opacity: 0.16;
}

/* .chip[dragged] {} */
.chip[dragged]::after {
    opacity: 0.08;
}