.slider {
    display: inline-flex;
    vertical-align: middle;
    height: 24px;
}

.slider__input {
    width: 100%;
    height: 100%;
}

.slider__input::-webkit-slider-runnable-track {
    height: 2px;
    background-image: linear-gradient(#6022ee, #6022ee);
    background-position: 0 100%;
    background-size: 50% 100%;
    background-repeat: no-repeat;
    background-color: rgba(96, 34, 238, 0.24);
}

.slider__input::-webkit-slider-thumb {
    width: 12px;
    height: 12px;
    margin-top: calc(0px - ((12px - 2px) / 2));
    border-radius: 50%;
    background-color: #6022ee;
}