/* 
	@state ripple 
*/
.ripple {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
}
.ripple::after {
    content: "";
    position: absolute;
    overflow: hidden;
    pointer-events: none;
    left: var(--ripple-left, 50%);
    top: var(--ripple-top, 50%);
    width: var(--ripple-circumference, 141.4213562373095%);
    padding-top: var(--ripple-circumference, 141.4213562373095%);
    border-radius: 50%;
    transform: translate3d(-50%, -50%, 0) translate3d(var(--ripple-translateX, 0), var(--ripple-translateY, 0), 0);
    background-color: var(--color-primary);
    opacity: 0;
}

.ripple[disabled] {
    cursor: default;
    pointer-events: none;
    opacity: 0.38;
}
.ripple[disabled]::after {
    opacity: 0;
}

/* .ripple:hover {} */
.ripple:hover::after {
    opacity: 0.04;
}

/* .ripple:focus {} */
.ripple:focus::after {
    opacity: 0.12;
    animation: var(--ripple-animation, ripple-out) 300ms ease-in-out forwards;
}

/* .ripple.ripple--filter[selected] {} */
.ripple.ripple--filter:not([selected]):focus:not(:active)::after {
    --ripple-left: 50%;
    --ripple-top: 50%;
    /* --ripple-circumference: 83.33333333333334%; */
    --ripple-translateX: 0;
    --ripple-translateY: 0;
    --ripple-animation: ripple-in;
}
.ripple.ripple--filter[selected]::after {
    background-color: var(--color-primary);
    opacity: 0.08;
    animation-name: ripple-out;
    animation-fill-mode: backwards;
}

.ripple.ripple--choice[activated] {
    color: var(--color-primary);
}
.ripple.ripple--choice:not([activated]):focus:not(:active)::after {
    --ripple-left: 50%;
    --ripple-top: 50%;
    /* --ripple-circumference: 83.33333333333334%; */
    --ripple-translateX: 0;
    --ripple-translateY: 0;
    --ripple-animation: ripple-in;
}
.ripple.ripple--choice[activated]::after {
    background-color: var(--color-primary);
    opacity: 0.12;
    animation-name: ripple-out;
    animation-fill-mode: backwards;
}

/* .ripple:active {} */
.ripple:active::after {
    opacity: 0.16;
}

/* .ripple[dragged] {} */
.ripple[dragged]::after {
    opacity: 0.08;
}

/* 
	@keyframes ripple-out 
*/
@keyframes ripple-out {
    from {
        width: 0;
        padding-top: 0;
    }
    to {
        width: var(--ripple-circumference, 141.4213562373095%);
        padding-top: var(--ripple-circumference, 141.4213562373095%);
    }
}

/* 
	@keyframes ripple-in 
*/
@keyframes ripple-in {
    from {
        width: var(--ripple-circumference, 141.4213562373095%);
        padding-top: var(--ripple-circumference, 141.4213562373095%);
    }
    to {
        width: 83.33333333333334%;
        padding-top: 83.33333333333334%;
    }
}
