/* 
	@block top-app-bar 
*/
.top-app-bar {
    position: fixed;
    left: 0;
    top: 0;
    z-index:;
    width: 100%;
    min-height: 64px;
    display: flex;
    flex-direction: column;
    background-color: var(--color-primary);
    color: var(--color-on-primary);
    /* 4 */
    box-shadow: 0 2px 4px -1px var(--color-black-20), 0 4px 5px 0 var(--color-black-14), 0 1px 10px 0 var(--color-black-12);
}

/* 
	@element row 
*/
.top-app-bar__row {
    display: flex;
}
.top-app-bar__row:first-child {
    flex: 1;
}

/* 
	@element section 
*/
.top-app-bar__section {
    display: flex;
}

/* 
	@elementModifier start 
*/
.top-app-bar__section--start {
    flex: 1;
}

/* 
	@elementModifier center 
*/
.top-app-bar__section--center {}

/* 
	@elementModifier end 
*/
.top-app-bar__section--end {
    justify-content: flex-end;
}

/* 
	@element title 
*/
.top-app-bar__title {
    margin: calc((64px - 28px) / 2) 0 calc((64px - 28px) / 2) 16px;
    font-weight: 500; font-size: 20px; line-height: 28px;
}

/* 
	@element action 
*/
.top-app-bar__action {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    margin: calc((64px - 24px) / 2) 16px;
    font-weight: 400; font-size: 18px; line-height: 1;
    font-family: "Segoe MDL2 Assets";
}

.top-app-bar__title + .top-app-bar__action {
    margin-left: calc(32px - 16px);
}
.top-app-bar__action + .top-app-bar__action {
    margin-left: calc(24px - 16px);
}

/* 
	@elementModifier navigation 
*/
.top-app-bar__action--navigation {}
.top-app-bar__action--navigation::before {
    content: "\E700";
}

/* 
	@elementModifier menu 
*/
.top-app-bar__action--menu {}
.top-app-bar__action--menu::before {
    content: "\E712";
}

/* 
	@modifier extended 
*/
.top-app-bar--extended {
    height: 128px;
}

.top-app-bar--extended .top-app-bar__row {}

.top-app-bar--extended .top-app-bar__section {}

.top-app-bar--extended .top-app-bar__action {}

.top-app-bar--extended .top-app-bar__title {
    align-self: flex-end;
    /* 28 */
    margin-bottom: calc(0px - ((28px - 24px) / 2) + 28px);
    font-weight: 400; font-size: 24px; /* line-height: 36px; */
}

.top-app-bar--extended .top-app-bar__section--start {}

.top-app-bar--extended .top-app-bar__action--navigation {}

.top-app-bar--extended .top-app-bar__section--center {}

.top-app-bar--extended .top-app-bar__section--end {}

.top-app-bar--extended .top-app-bar__action--menu {}

@media (max-width: 480px) {
    .top-app-bar {
        min-height: 56px;
    }
    .top-app-bar__title {
        margin-top: calc((56px - 28px) / 2);
        margin-bottom: calc((56px - 28px) / 2);
    }
    .top-app-bar__action {
        margin-top: calc((56px - 24px) / 2);
        margin-bottom: calc((56px - 24px) / 2);
    }
}