/* 
    @state top-app-bar__action
*/
.top-app-bar__action {
    --ripple-circumference: 166.66666666666669%;
    position: relative;
    /* overflow: hidden; */
    cursor: pointer;
    user-select: none;
}
.top-app-bar__action::after {
    content: "";
    position: absolute;
    overflow: hidden;
    pointer-events: none;
    left: var(--ripple-left, 50%);
    top: var(--ripple-top, 50%);
    width: var(--ripple-circumference, 141.4213562373095%);
    padding-top: var(--ripple-circumference, 141.4213562373095%);
    border-radius: 50%;
    transform: translate3d(-50%, -50%, 0) translate3d(var(--ripple-translateX, 0), var(--ripple-translateY, 0), 0);
    background-color: var(--color-on-primary);
    opacity: 0;
}

/* .top-app-bar__action:hover {} */
.top-app-bar__action:hover::after { opacity: 0.08; }

/* .top-app-bar__action:focus {} */
.top-app-bar__action:focus::after { 
    opacity: 0.24; 
    animation: var(--ripple-animation, ripple-out) 300ms ease-in-out;
}

/* .top-app-bar__action:active {} */
.top-app-bar__action:active::after { opacity: 0.32; }

/* .top-app-bar__action[selected] {} */
.top-app-bar__action[selected]::after { 
    background-color: var(--color-primary);
    opacity: 0.16; 
}

.top-app-bar__action[activated] {
    color: var(--color-primary);
}
.top-app-bar__action[activated]::after { 
    background-color: var(--color-primary);
    opacity: 0.24; 
}

/* .top-app-bar__action[dragged] {} */
.top-app-bar__action[dragged]::after { opacity: 0.16; }

.top-app-bar__action[disabled] {
    cursor: default;
    pointer-events: none;
    opacity: 0.38;
}
.top-app-bar__action[disabled]::after { opacity: 0; }

/* 
    @state top-app-bar__action
*/
/* .top-app-bar--uncolored .top-app-bar__action {} */
.top-app-bar--uncolored .top-app-bar__action::after {
    background-color: var(--color-primary);
    opacity: 0;
}

/* .top-app-bar--uncolored .top-app-bar__action:hover {} */
.top-app-bar--uncolored .top-app-bar__action:hover::after { opacity: 0.04; }

/* .top-app-bar--uncolored .top-app-bar__action:focus {} */
.top-app-bar--uncolored .top-app-bar__action:focus::after { 
    opacity: 0.12; 
}

/* .top-app-bar--uncolored .top-app-bar__action:active {} */
.top-app-bar--uncolored .top-app-bar__action:active::after { opacity: 0.16; }

/* .top-app-bar--uncolored .top-app-bar__action[selected] {} */
.top-app-bar--uncolored .top-app-bar__action[selected]::after { 
    background-color: var(--color-primary);
    opacity: 0.08; 
}

.top-app-bar--uncolored .top-app-bar__action[activated] {
    color: var(--color-primary);
}
.top-app-bar--uncolored .top-app-bar__action[activated]::after { 
    background-color: var(--color-primary);
    opacity: 0.12; 
}

/* .top-app-bar--uncolored .top-app-bar__action[dragged] {} */
.top-app-bar--uncolored .top-app-bar__action[dragged]::after { opacity: 0.08; }

.top-app-bar--uncolored .top-app-bar__action[disabled] {
    opacity: 0.38;
}
.top-app-bar--uncolored .top-app-bar__action[disabled]::after { opacity: 0; }
