wk-progress:not([circular]),
.progress:not(.progress--circular) {
    /* --progress-value: 75; */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    position: relative;
    overflow: hidden;
    width: 240px;
    height: 4px;
    background-color: rgba(98, 0, 238, .12);
}

wk-progress:not([circular])::before,
.progress:not(.progress--circular)::before,
wk-progress:not([circular])[indeterminate]::after,
.progress:not(.progress--circular)[indeterminate]::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: calc(var(--progress-value) * 1%);
    height: 100%;
    background-color: #6200ee;
}

/* .progress:not(.progress--circular)::after {} */





wk-progress:not([circular])[indeterminate]::before,
.progress:not(.progress--circular)[indeterminate]::before {
    animation: progress-before 2s linear infinite;
}

wk-progress:not([circular])[indeterminate]::after,
.progress:not(.progress--circular)[indeterminate]::after {
    animation: progress-after 2s linear 1s infinite;
}





@keyframes progress-before {
    0% {
        left: -25%;
        width: 25%;
    }

    50% {
        left: 25%;
        width: 75%;
    }

    100% {
        left: 175%;
        width: 100%;
    }
}

@keyframes progress-after {
    0% {
        left: -175%;
        width: 100%;
    }
    
    50% {
        left: 75%;
        width: 25%;
    }

    100% {
        left: 175%;
        width: 0;
    }
}






wk-progress[circular],
.progress--circular {
    /* --progress-value: 75; */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    width: 48px;
    height: 48px;
    transform: rotate(-90deg);
}

wk-progress[circular] svg,
.progress--circular svg {
    width: 40px;
    height: 40px;
}

wk-progress[circular] circle,
.progress--circular circle {
    fill: none;
    stroke: #6200ee;
    stroke-width: 4;
    stroke-dasharray: 113.09733552923255;
    stroke-dashoffset: calc(113.09733552923255 * (1 - (var(--progress-value, 0) / 100)));
}






wk-progress[circular][indeterminate],
.progress--circular[indeterminate] {
    animation: progress-circular 1.3333333333333333s linear infinite;
}

wk-progress[circular][indeterminate] svg,
.progress--circular[indeterminate] svg {
    animation: progress-circular-svg 5.333333333333333s steps(4) infinite;
}

wk-progress[circular][indeterminate] circle,
.progress--circular[indeterminate] circle {
    animation: progress-circular-circle 1.3333333333333333s ease-in-out infinite;
}






@keyframes progress-circular {
    0% {
        transform: rotate(-90deg);
    }

    100% {
        transform: rotate(270deg);
    }
}

@keyframes progress-circular-svg {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

@keyframes progress-circular-circle {
    0% {
        /* 5 100 */
        stroke-dasharray: 5.654866776461628 113.09733552923255;
        /* 0 */
        stroke-dashoffset: 0;
    }

    50% {
        /* 80 100 */
        stroke-dasharray: 90.47786842338604 113.09733552923255;
        /* 0 */
        stroke-dashoffset: 0;
    }

    100% {
        /* 5 100 */
        stroke-dasharray: 5.654866776461628 113.09733552923255;
        /* -75 */
        stroke-dashoffset: -84.82300164692441;
    }
}