<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Material</title>
    <link rel="stylesheet" href="../material.css">
    <style>
        body {
            margin: 64px;
        }

        .layout__column {
            height: 64px;
            background-color: #f5f5f5;
        }
    </style>
</head>

<body>

    <div class="layout">
        <div class="layout__grid">
            <div class="layout__column layout__column--1-desktop"></div>
            <div class="layout__column layout__column--11-desktop"></div>
            <div class="layout__column layout__column--2-desktop"></div>
            <div class="layout__column layout__column--10-desktop"></div>
            <div class="layout__column layout__column--3-desktop"></div>
            <div class="layout__column layout__column--9-desktop"></div>
            <div class="layout__column layout__column--4-desktop"></div>
            <div class="layout__column layout__column--8-desktop"></div>
            <div class="layout__column layout__column--5-desktop"></div>
            <div class="layout__column layout__column--7-desktop"></div>
            <div class="layout__column layout__column--6-desktop"></div>
            <div class="layout__column layout__column--6-desktop"></div>
            <div class="layout__column layout__column--12-desktop"></div>
        </div>
    </div>

    <div class="layout">
        <div class="layout__grid">
            <div class="layout__column layout__column--3-desktop"></div>
            <div class="layout__column layout__column--3-desktop"></div>
            <div class="layout__column layout__column--3-desktop"></div>
            <div class="layout__column layout__column--3-desktop"></div>
        </div>
    </div>

    <script src="../material.js"></script>
</body>

</html>