<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Material</title>
    <link rel="stylesheet" href="../foundation/foundation.css">
    <link rel="stylesheet" href="./layout.css">
    <style>
        body {
            margin: 64px;
        }

        wk-layout-column,
        .layout__column {
            height: 64px;
            background-color: #f5f5f5;
        }
    </style>
</head>

<body>

    <!-- <div class="layout">
        <div class="layout__grid">
            <div class="layout__column layout__column--1-desktop"></div>
            <div class="layout__column layout__column--11-desktop"></div>
            <div class="layout__column layout__column--2-desktop"></div>
            <div class="layout__column layout__column--10-desktop"></div>
            <div class="layout__column layout__column--3-desktop"></div>
            <div class="layout__column layout__column--9-desktop"></div>
            <div class="layout__column layout__column--4-desktop"></div>
            <div class="layout__column layout__column--8-desktop"></div>
            <div class="layout__column layout__column--5-desktop"></div>
            <div class="layout__column layout__column--7-desktop"></div>
            <div class="layout__column layout__column--6-desktop"></div>
            <div class="layout__column layout__column--6-desktop"></div>
            <div class="layout__column layout__column--12-desktop"></div>
        </div>
    </div> -->

    <!-- <div class="layout">
        <div class="layout__grid">
            <div class="layout__column layout__column--3-desktop"></div>
            <div class="layout__column layout__column--3-desktop"></div>
            <div class="layout__column layout__column--3-desktop"></div>
            <div class="layout__column layout__column--3-desktop"></div>
        </div>
    </div> -->

    <wk-layout>
        <wk-layout-grid>
            <wk-layout-column span="1" desktopSpan="1" tabletSpan="8" mobileSpan="4"></wk-layout-column>
            <wk-layout-column span="11" desktopSpan="11" tabletSpan="8" mobileSpan="4"></wk-layout-column>
            <wk-layout-column span="2" desktopSpan="2" tabletSpan="8" mobileSpan="4"></wk-layout-column>
            <wk-layout-column span="10" desktopSpan="10" tabletSpan="8" mobileSpan="4"></wk-layout-column>
            <wk-layout-column span="3" desktopSpan="3" tabletSpan="8" mobileSpan="4"></wk-layout-column>
            <wk-layout-column span="9" desktopSpan="9" tabletSpan="8" mobileSpan="4"></wk-layout-column>
            <wk-layout-column span="4" desktopSpan="4" tabletSpan="8" mobileSpan="4"></wk-layout-column>
            <wk-layout-column span="8" desktopSpan="8" tabletSpan="8" mobileSpan="4"></wk-layout-column>
            <wk-layout-column span="5" desktopSpan="5" tabletSpan="8" mobileSpan="4"></wk-layout-column>
            <wk-layout-column span="7" desktopSpan="7" tabletSpan="8" mobileSpan="4"></wk-layout-column>
            <wk-layout-column span="6" desktopSpan="6" tabletSpan="8" mobileSpan="4"></wk-layout-column>
            <wk-layout-column span="6" desktopSpan="6" tabletSpan="8" mobileSpan="4"></wk-layout-column>
            <wk-layout-column span="12" desktopSpan="12" tabletSpan="8" mobileSpan="4"></wk-layout-column>
        </wk-layout-grid>
    </wk-layout>

    <br><br>

    <wk-layout>
        <wk-layout-grid>
            <wk-layout-column span="3" desktopSpan="3" tabletSpan="8" mobileSpan="4"></wk-layout-column>
            <wk-layout-column span="3" desktopSpan="3" tabletSpan="8" mobileSpan="4"></wk-layout-column>
            <wk-layout-column span="3" desktopSpan="3" tabletSpan="8" mobileSpan="4"></wk-layout-column>
            <wk-layout-column span="3" desktopSpan="3" tabletSpan="8" mobileSpan="4"></wk-layout-column>
        </wk-layout-grid>
    </wk-layout>
    
    <script src="./layout.js" type="module"></script>
</body>

</html>