:host,
.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    overflow: hidden;
    min-width: 64px;
    height: 36px;
    border-radius: 4px;
    background-color: transparent;
    color: #6200ee;
}

.button__icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    margin: 0 12px;
    font-size: 16px;
}

.button__text {
    margin: 0 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
}






:host([outlined]),
.button--outlined {
    background-color: transparent;
    color: #6200ee;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.12);
}

:host([outlined]) .button__text,
.button--outlined .button__text {
    margin: 0 16px;
}






:host([contained]),
.button--contained {
    background-color: #6200ee;
    color: #ffffff;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

:host([contained]) .button__text,
.button--contained .button__text {
    margin: 0 16px;
}

:host .button__icon + .button__text,
.button__icon + .button__text {
    margin-left: -4px;
}






:host([toggle]),
.button--toggle {
    min-width: 48px;
    height: 48px;
    border-radius: 0;
    background-color: #ffffff;
    color: #000000;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.12);
}

:host([toggle]) .button__icon,
.button--toggle .button__icon {
    width: 24px;
    height: 24px;
    font-size: 18px;
}

:host([toggle]) .button__text {
    display: none;
}






.button-group {
    display: inline-flex;
    vertical-align: middle;
}

.button-group md-button[toggle] + md-button[toggle],
.button-group .button--toggle + .button--toggle {
    margin-left: -1px;
}