/* 
    @state button
*/
.button {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
}
.button::after {
    content: "";
    position: absolute;
    overflow: hidden;
    pointer-events: none;
    left: var(--ripple-left, 50%);
    top: var(--ripple-top, 50%);
    width: var(--ripple-circumference, 141.4213562373095%);
    padding-top: var(--ripple-circumference, 141.4213562373095%);
    border-radius: 50%;
    transform: translate3d(-50%, -50%, 0) translate3d(var(--ripple-translateX, 0), var(--ripple-translateY, 0), 0);
    background-color: var(--color-primary);
    opacity: 0;
}

/* .button:hover {} */
.button:hover::after { opacity: 0.04; /* dark: 0.08; */ }

/* .button:focus {} */
.button:focus::after { 
    opacity: 0.12; /* dark: 0.24; */ 
    animation: var(--ripple-animation, ripple-out) 300ms ease-in-out;
}

/* .button:active {} */
.button:active::after { opacity: 0.16; /* dark: 0.32; */ }

/* .button[selected] {} */
.button[selected]::after { 
    background-color: var(--color-primary);
    opacity: 0.08; /* dark: 0.16; */ 
}

.button[activated] {
    color: var(--color-primary);
}
.button[activated]::after { 
    background-color: var(--color-primary);
    opacity: 0.12; /* dark: 0.24; */ 
}

/* .button[dragged] {} */
.button[dragged]::after { opacity: 0.08; /* dark: 0.16; */ }

.button[disabled] {
    cursor: default;
    pointer-events: none;
    opacity: 0.38;
}
.button[disabled]::after { opacity: 0; }

/* 
    @state button--contained
*/
/* .button--contained {} */
.button--contained::after {
    background-color: var(--color-on-primary);
    opacity: 0;
}

/* .button--contained:hover {} */
.button--contained:hover::after { opacity: 0.08; }

/* .button--contained:focus {} */
.button--contained:focus::after { 
    opacity: 0.24; 
}

/* .button--contained:active {} */
.button--contained:active::after { opacity: 0.32; }

/* .button--contained[selected] {} */
.button--contained[selected]::after { 
    background-color: var(--color-primary);
    opacity: 0.16; 
}

.button--contained[activated] {
    color: var(--color-primary);
}
.button--contained[activated]::after { 
    background-color: var(--color-primary);
    opacity: 0.24; 
}

/* .button--contained[dragged] {} */
.button--contained[dragged]::after { opacity: 0.16; }

.button--contained[disabled] {
    opacity: 0.38;
}
.button--contained[disabled]::after { opacity: 0; }

/* 
    @component snackbar
    @state button
*/
/* .snackbar .button {} */
.snackbar .button::after {
    background-color: var(--color-on-primary);
    opacity: 0;
}

/* .snackbar .button:hover {} */
.snackbar .button:hover::after { opacity: 0.04; }

/* .snackbar .button:focus {} */
.snackbar .button:focus::after { 
    opacity: 0.12; 
}

/* .snackbar .button:active {} */
.snackbar .button:active::after { opacity: 0.16; }

/* .snackbar .button[selected] {} */
.snackbar .button[selected]::after { 
    background-color: var(--color-primary);
    opacity: 0.08; 
}

.snackbar .button[activated] {
    color: var(--color-primary);
}
.snackbar .button[activated]::after { 
    background-color: var(--color-primary);
    opacity: 0.12; 
}

/* .snackbar .button[dragged] {} */
.snackbar .button[dragged]::after { opacity: 0.08; }

.snackbar .button[disabled] {
    opacity: 0.19;
}
.snackbar .button[disabled]::after { opacity: 0; }
