<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WK</title>
    <link rel="stylesheet" href="../index.css">
</head>

<body>

    <wk-top-app-bar id="test" navigation menu label="Title" actions="#demo"></wk-top-app-bar>

    <div id="demo" hidden>
        <wk-icon id="settings" actionable>&#xE713;</wk-icon>
        <wk-icon id="search" actionable>&#xE721;</wk-icon>
    </div>

    <script src="../index.js" type="module"></script>
    <script>
        let test = document.querySelector('#test')

        test.addEventListener("onNavigationClick", event => {
            alert("navigation clicked")
        })

        test.addEventListener("onMenuClick", event => {
            alert("menu clicked")
        })

        // Need promise
        window.addEventListener("load", event => {
            document.querySelector('#settings').addEventListener("click", event => {
                alert("settings clicked")
            })
    
            document.querySelector('#search').addEventListener("click", event => {
                alert("search clicked")
            })
        })

    </script>
</body>

</html>