/* 
	@block top-app-bar 
*/
wk-top-app-bar {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 4;
    left: 0;
    top: 0;
    width: 100%;
    background-color: var(--color-surface);
    color: var(--color-on-surface);
    box-shadow: 0 2px 4px -1px var(--color-black-20), 0 4px 5px 0 var(--color-black-14), 0 1px 10px 0 var(--color-black-12);
    /* 4 */
}

/* 
	@element row 
*/
wk-top-app-bar-row {
    display: flex;
    flex: 1;
}

/* 
	@element section 
*/
wk-top-app-bar-section {
    display: flex;
}

/* 
	@elementModifier start 
*/
wk-top-app-bar-section[start] {
    flex: 1;
}

/* 
	@elementModifier end 
*/
/* wk-top-app-bar-section[end] {} */

/* 
	@element action 
*/
/* .top-app-bar__action {} */

/* 
	@elementModifier navigation 
*/
/* .top-app-bar__action--navigation {} */

.top-app-bar__action--navigation:empty::before {
    content: "\E700"
}

/* 
	@elementModifier menu 
*/
/* .top-app-bar__action--menu {} */

.top-app-bar__action--menu:empty::before {
    content: "\E712"
}

/* 
	@element title 
*/
.top-app-bar__title {
    align-self: flex-end;
    margin: calc((64px - 28px) / 2) 0 calc((64px - 28px) / 2) 16px;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
}

/* 
	@modifier extended 
*/
wk-top-app-bar[extended] {
    height: 128px;
}

/* wk-top-app-bar[extended] wk-top-app-bar-row {} */

/* wk-top-app-bar[extended] wk-top-app-bar-section {} */

/* wk-top-app-bar[extended] wk-top-app-bar-section[start] {} */

/* wk-top-app-bar[extended] wk-top-app-bar-section[end] {} */

/* wk-top-app-bar[extended] .top-app-bar__action {} */

/* wk-top-app-bar[extended] .top-app-bar__action--navigation {} */

/* wk-top-app-bar[extended] .top-app-bar__action--menu {} */

wk-top-app-bar[extended] .top-app-bar__title {
    margin-bottom: calc(0px - ((28px - 24px) / 2) + 28px);
    font-weight: 400;
    font-size: 24px;
    /* line-height: 36px; */
}

/* 
	@modifier colored 
*/
wk-top-app-bar[colored] {
    background-color: var(--color-primary);
    color: var(--color-on-primary);
}

/* wk-top-app-bar[colored] wk-top-app-bar-row {} */

/* wk-top-app-bar[colored] wk-top-app-bar-section {} */

/* wk-top-app-bar[colored] wk-top-app-bar-section[start] {} */

/* wk-top-app-bar[colored] wk-top-app-bar-section[end] {} */

/* wk-top-app-bar[colored] .top-app-bar__action {} */

/* wk-top-app-bar[colored] .top-app-bar__action--navigation {} */

/* wk-top-app-bar[colored] .top-app-bar__action--menu {} */

/* wk-top-app-bar[colored] .top-app-bar__title {} */

/* 
    @component icon
*/
wk-top-app-bar wk-icon {
    margin: calc((64px - 24px) / 2) 16px;
}

wk-top-app-bar wk-icon + wk-icon {
    margin-left: calc(24px - 16px);
}

wk-top-app-bar wk-icon + .top-app-bar__title {
    margin-left: calc(32px - 16px);
}

@media (max-width: 480px) {
    .top-app-bar__title {
        margin-top: calc((56px - 28px) / 2);
        margin-bottom: calc((56px - 28px) / 2);
    }
    
    wk-top-app-bar wk-icon {
        margin-top: calc((56px - 24px) / 2);
        margin-bottom: calc((56px - 24px) / 2);
    }
}

/* 
	@state ripple 
*/
/* wk-top-app-bar[colored] wk-icon[actionable] {} */
wk-top-app-bar[colored] wk-icon[actionable]::after {
    background-color: var(--color-on-primary);
    opacity: 0;
}

wk-top-app-bar[colored] wk-icon[actionable][disabled] {
    opacity: 0.38;
}
wk-top-app-bar[colored] wk-icon[actionable][disabled]::after {
    opacity: 0;
}

wk-top-app-bar[colored] wk-icon[actionable]:hover {}
wk-top-app-bar[colored] wk-icon[actionable]:hover::after {
    opacity: 0.08;
}

wk-top-app-bar[colored] wk-icon[actionable]:focus {}
wk-top-app-bar[colored] wk-icon[actionable]:focus::after {
    opacity: 0.24;
}

wk-top-app-bar[colored] wk-icon[actionable][filter][selected] {}
/* wk-top-app-bar[colored] wk-icon[actionable][filter]:not([selected]):focus:not(:active)::after {} */
wk-top-app-bar[colored] wk-icon[actionable][filter][selected]::after {
    background-color: var(--color-primary);
    opacity: 0.16;
}

wk-top-app-bar[colored] wk-icon[actionable][choice][activated] {
    color: var(--color-primary);
}
/* wk-top-app-bar[colored] wk-icon[actionable][choice]:not([activated]):focus:not(:active)::after {} */
wk-top-app-bar[colored] wk-icon[actionable][choice][activated]::after {
    background-color: var(--color-primary);
    opacity: 0.24;
}

wk-top-app-bar[colored] wk-icon[actionable]:active {}
wk-top-app-bar[colored] wk-icon[actionable]:active::after {
    opacity: 0.32;
}

wk-top-app-bar[colored] wk-icon[actionable][dragged] {}
wk-top-app-bar[colored] wk-icon[actionable][dragged]::after {
    opacity: 0.16;
}
