<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WK</title>
    <link rel="stylesheet" href="../index.css">
</head>

<body>

    <wk-top-app-bar colored navigation menu label="Title" actions="#demo">
        <wk-top-app-bar-row>
            <wk-top-app-bar-section start>
                add <br>
                another <br>
                component <br>
                here <br>
            </wk-top-app-bar-section>
        </wk-top-app-bar-row>
    </wk-top-app-bar>

    <div id="demo">
        <wk-icon actionable>&#xE713;</wk-icon>
        <wk-icon actionable>&#xE721;</wk-icon>
    </div>

    <script src="../index.js" type="module"></script>
</body>

</html>