body {
    margin: 64px;
}
.demo-body {
    background-color: #f5f5f5;
}

nav {
    display: flex;
    flex-direction: column;
}

.demo-layout {
    margin-bottom: 64px;
}
.demo-layout-column {
    height: 64px;
    background-color: #f5f5f5;
}

.demo-elevation-wrapper {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-gap: 64px;
}
/* .demo-elevation {} */
.demo-elevation::before {
    content: "";
    display: block;
    padding-top: 100%;
}

.demo-ripple {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 256px;
    height: 256px;
    margin: 24px;
    background-color: #fff;
}

.demo-chip-group {
    width: 360px;
}

.demo-tab-bar {
    width: 360px;
}

.demo-list {
    width: 360px;
}

.demo-banner {
    width: 360px;
}

.demo-image-list {
    width: 768px;
}

.demo-card {
    width: 344px;
}
