wk-image-list:not([masonry]),
.image-list:not(.image-list--masonry) {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-gap: 4px;
}

wk-image-list:not([masonry]) .image-list__figure::before,
.image-list:not(.image-list--masonry) .image-list__figure::before {
    content: '';
    display: block;
    padding-top: 100%;
}

wk-image-list:not([masonry]) .image-list__img,
.image-list:not(.image-list--masonry) .image-list__img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}






.image-list__figure {
    position: relative;
}

.image-list__img {
    width: 100%;
    height: 100%;
}

.image-list__figcaption {
    display: flex;
    background-color: #ffffff;
    color: rgba(0, 0, 0, 0.87);
}

.image-list__text {
    flex: 1;
    margin: 0 16px 0 0;
    margin-top: calc((48px - 24px) / 2);
    margin-bottom: calc((48px - 24px) / 2);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.image-list__icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    margin-top: calc((48px - 24px) / 2);
    margin-bottom: calc((48px - 24px) / 2);
}

.image-list__text + .image-list__icon {
    margin-left: calc(16px - 16px);
}






.image-list__figure .image-list__figcaption {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.54);
    color: #ffffff;
}

.image-list__figure .image-list__text {
    margin-left: 16px;
}

.image-list__figure .image-list__icon {
    margin-right: 16px;
}






wk-image-list[quilted] wk-image-list-item:nth-child(8n+1),
wk-image-list[quilted] wk-image-list-item:nth-child(8n+6),
.image-list--quilted .image-list__item:nth-child(8n+1),
.image-list--quilted .image-list__item:nth-child(8n+6) {
    grid-column-end: span 2;
    grid-row-end: span 2;
}

wk-image-list[quilted] wk-image-list-item:nth-child(8n+4),
wk-image-list[quilted] wk-image-list-item:nth-child(8n+5),
.image-list--quilted .image-list__item:nth-child(8n+4),
.image-list--quilted .image-list__item:nth-child(8n+5) {
    grid-column-end: span 2;
}

wk-image-list[quilted] wk-image-list-item:nth-child(8n+4) .image-list__figure::before,
wk-image-list[quilted] wk-image-list-item:nth-child(8n+5) .image-list__figure::before, 
.image-list--quilted .image-list__item:nth-child(8n+4) .image-list__figure::before,
.image-list--quilted .image-list__item:nth-child(8n+5) .image-list__figure::before {
    padding-top: 50%;
}






wk-image-list[woven],
.image-list--woven {
    align-items: center;
}

wk-image-list[woven] wk-image-list-item:nth-child(8n+2) .image-list__figure::before,
wk-image-list[woven] wk-image-list-item:nth-child(8n+4) .image-list__figure::before,
wk-image-list[woven] wk-image-list-item:nth-child(8n+5) .image-list__figure::before,
wk-image-list[woven] wk-image-list-item:nth-child(8n+7) .image-list__figure::before,
.image-list--woven .image-list__item:nth-child(8n+2) .image-list__figure::before,
.image-list--woven .image-list__item:nth-child(8n+4) .image-list__figure::before,
.image-list--woven .image-list__item:nth-child(8n+5) .image-list__figure::before,
.image-list--woven .image-list__item:nth-child(8n+7) .image-list__figure::before {
    padding-top: calc(100% / 5 * 7);
}






wk-image-list[masonry],
.image-list--masonry {
    display: block;
    column-count: 4;
    column-gap: 4px;
}

wk-image-list[masonry] wk-image-list-item,
.image-list--masonry .image-list__item {
    break-inside: avoid-column;
    font-size: 0;
    line-height: 0;
    margin-bottom: 4px;
}