/* 
    Button
*/
wk-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    overflow: hidden;
    min-width: 64px;
    height: 36px;
    border-radius: 4px;
    background-color: transparent;
    color: #6200ee;
}

.button__icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    margin: 0 12px;
    font-size: 16px;
}

.button__text {
    margin: 0 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
}






/* 
    Outlined
*/
wk-button[outlined] {
    background-color: transparent;
    color: #6200ee;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.12);
}

wk-button[outlined] .button__text {
    margin: 0 16px;
}






/* 
    Contained
*/
wk-button[contained] {
    background-color: #6200ee;
    color: #ffffff;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

wk-button[contained] .button__text {
    margin: 0 16px;
}

wk-button .button__icon + .button__text {
    margin-left: -4px;
}






/* 
    Toggle
*/
wk-button[toggle] {
    min-width: 48px;
    height: 48px;
    border-radius: 0;
    background-color: #ffffff;
    color: #000000;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.12);
}

wk-button[toggle] .button__icon {
    width: 24px;
    height: 24px;
    font-size: 18px;
}






/* 
    Group
*/
wk-button-group {
    display: inline-flex;
    vertical-align: middle;
}

wk-button-group wk-button[toggle] + wk-button[toggle] {
    margin-left: -1px;
}

wk-button-group wk-button[toggle][activated] {
    z-index: 2;
}

wk-button-group wk-button[toggle][activated] + wk-button[toggle]:hover {
    z-index: 1;
}





/* 
    States
*/
wk-button {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
}

wk-button[toggle][activated] {
    color: #6200ee;
}

wk-button[disabled] {
    cursor: default;
    pointer-events: none;
    background-color: transparent;
    color: rgba(0, 0, 0, 0.38);
}

/* 
    Touch target
*/
wk-button::before {
    content: '';
    position: absolute;
    min-width: 100%;
    min-height: 48px;
    height: 100%;
}

/* 
    Overlay
*/
wk-button::after {
    content: '';
    position: absolute;
    pointer-events: none;
    left: var(--ripple-left, 50%);
    top: var(--ripple-top, 50%);
    transform: translate3d(-50%, -50%, 0) translate3d(var(--ripple-translateX, 0), var(--ripple-translateY, 0), 0);
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: #6200ee;
    opacity: 0;
}

wk-button:hover::after {
    width: var(--ripple-size, 256px);
    height: var(--ripple-size, 256px);
    opacity: 0.04;
}

wk-button:focus::after {
    width: var(--ripple-size, 256px);
    height: var(--ripple-size, 256px);
    opacity: 0.12;
    transition: width 300ms ease-in-out, height 300ms ease-in-out, opacity 300ms ease-in-out;
    animation: var(--ripple-animation, ripple 300ms ease-in-out);
}

wk-button:active::after {
    width: var(--ripple-size, 256px);
    height: var(--ripple-size, 256px);
    opacity: 0.16;
}

wk-button[toggle]:focus::after {
    --ripple-animation-duration: 300ms; 
}

wk-button[toggle]:not([activated]):focus:not(:active)::after {
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0) translate3d(0, 0, 0);
    width: 75%;
    height: 75%;
}

wk-button[toggle]:not([activated]):active::after {
    width: var(--ripple-size, 256px);
    height: var(--ripple-size, 256px);
}

wk-button[toggle][activated]::after {
    width: var(--ripple-size, 256px);
    height: var(--ripple-size, 256px);
    background-color: #6200ee;
    opacity: 0.12;
    animation: ripple 300ms ease-in-out;
    animation-duration: var(--ripple-animation-duration, 0s);
}

wk-button[disabled]::after {
    opacity: 0;
}





wk-button[contained][disabled] {
    background-color: rgba(0, 0, 0, 0.12);
    color: rgba(0, 0, 0, 0.38);
    box-shadow: none;
}

wk-button[contained]::after {
    background-color: #ffffff;
    opacity: 0;
}

wk-button[contained]:hover::after {
    opacity: 0.08;
}

wk-button[contained]:focus::after {
    opacity: 0.24;
}

wk-button[contained]:active::after {
    opacity: 0.32;
}

wk-button[contained][disabled]::after {
    opacity: 0;
}





wk-button[toggle][activated] {
    color: #6200ee;
}

wk-button[toggle][disabled] {
    background-color: #ffffff;
    color: rgba(0, 0, 0, 0.38);
}

wk-button[toggle]::after {
    background-color: #000000;
    opacity: 0;
}

wk-button[toggle]:hover::after {
    opacity: 0.04;
}

wk-button[toggle]:focus::after {
    opacity: 0.12;
}

wk-button[toggle]:active::after {
    opacity: 0.16;
}

wk-button[toggle][activated]::after {
    background-color: #6200ee;
    opacity: 0.12;
}

wk-button[toggle][disabled]::after {
    opacity: 0;
}