<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WK</title>
    <link rel="stylesheet" href="../index.css">
</head>

<body>

    <ul class="demo-image-list image-list">
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/200/300" alt="234" class="image-list__thumb">
            </div>
            <div class="image-list__protection">
                <div class="image-list__text">Image 1</div>
                <div class="image-list__action">&#xE720;</div>
            </div>
        </li>
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/200/300" alt="234" class="image-list__thumb">
                <div class="image-list__protection">
                    <div class="image-list__text">Image 1</div>
                    <div class="image-list__action">&#xE720;</div>
                </div>
            </div>
        </li>
    </ul>
    <br><br>

    <!--  -->
    <ul class="demo-image-list image-list image-list--standard">
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/200/300" alt="234" class="image-list__thumb">
            </div>
            <div class="image-list__protection">
                <div class="image-list__text">Image 1</div>
                <div class="image-list__action">&#xE720;</div>
            </div>
        </li>
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/200/300" alt="234" class="image-list__thumb">
            </div>
            <div class="image-list__protection">
                <div class="image-list__text">Image 1</div>
                <div class="image-list__action">&#xE720;</div>
            </div>
        </li>
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/200/300" alt="234" class="image-list__thumb">
            </div>
            <div class="image-list__protection">
                <div class="image-list__text">Image 1</div>
                <div class="image-list__action">&#xE720;</div>
            </div>
        </li>
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/200/300" alt="234" class="image-list__thumb">
            </div>
            <div class="image-list__protection">
                <div class="image-list__text">Image 1</div>
                <div class="image-list__action">&#xE720;</div>
            </div>
        </li>
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/200/300" alt="234" class="image-list__thumb">
            </div>
            <div class="image-list__protection">
                <div class="image-list__text">Image 1</div>
                <div class="image-list__action">&#xE720;</div>
            </div>
        </li>
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/200/300" alt="234" class="image-list__thumb">
            </div>
            <div class="image-list__protection">
                <div class="image-list__text">Image 1</div>
                <div class="image-list__action">&#xE720;</div>
            </div>
        </li>
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/200/300" alt="234" class="image-list__thumb">
            </div>
            <div class="image-list__protection">
                <div class="image-list__text">Image 1</div>
                <div class="image-list__action">&#xE720;</div>
            </div>
        </li>
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/200/300" alt="234" class="image-list__thumb">
            </div>
            <div class="image-list__protection">
                <div class="image-list__text">Image 1</div>
                <div class="image-list__action">&#xE720;</div>
            </div>
        </li>
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/200/300" alt="234" class="image-list__thumb">
            </div>
            <div class="image-list__protection">
                <div class="image-list__text">Image 1</div>
                <div class="image-list__action">&#xE720;</div>
            </div>
        </li>
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/200/300" alt="234" class="image-list__thumb">
            </div>
            <div class="image-list__protection">
                <div class="image-list__text">Image 1</div>
                <div class="image-list__action">&#xE720;</div>
            </div>
        </li>
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/200/300" alt="234" class="image-list__thumb">
            </div>
            <div class="image-list__protection">
                <div class="image-list__text">Image 1</div>
                <div class="image-list__action">&#xE720;</div>
            </div>
        </li>
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/200/300" alt="234" class="image-list__thumb">
            </div>
            <div class="image-list__protection">
                <div class="image-list__text">Image 1</div>
                <div class="image-list__action">&#xE720;</div>
            </div>
        </li>
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/200/300" alt="234" class="image-list__thumb">
            </div>
            <div class="image-list__protection">
                <div class="image-list__text">Image 1</div>
                <div class="image-list__action">&#xE720;</div>
            </div>
        </li>
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/200/300" alt="234" class="image-list__thumb">
            </div>
            <div class="image-list__protection">
                <div class="image-list__text">Image 1</div>
                <div class="image-list__action">&#xE720;</div>
            </div>
        </li>
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/200/300" alt="234" class="image-list__thumb">
            </div>
            <div class="image-list__protection">
                <div class="image-list__text">Image 1</div>
                <div class="image-list__action">&#xE720;</div>
            </div>
        </li>
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/200/300" alt="234" class="image-list__thumb">
            </div>
            <div class="image-list__protection">
                <div class="image-list__text">Image 1</div>
                <div class="image-list__action">&#xE720;</div>
            </div>
        </li>
    </ul>
    <br><br>

    <ul class="demo-image-list image-list image-list--woven">
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/200/300" alt="234" class="image-list__thumb">
            </div>
            <div class="image-list__protection">
                <div class="image-list__text">Image 1</div>
                <div class="image-list__action">&#xE720;</div>
            </div>
        </li>
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/200/300" alt="234" class="image-list__thumb">
            </div>
            <div class="image-list__protection">
                <div class="image-list__text">Image 1</div>
                <div class="image-list__action">&#xE720;</div>
            </div>
        </li>
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/200/300" alt="234" class="image-list__thumb">
            </div>
            <div class="image-list__protection">
                <div class="image-list__text">Image 1</div>
                <div class="image-list__action">&#xE720;</div>
            </div>
        </li>
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/200/300" alt="234" class="image-list__thumb">
            </div>
            <div class="image-list__protection">
                <div class="image-list__text">Image 1</div>
                <div class="image-list__action">&#xE720;</div>
            </div>
        </li>
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/200/300" alt="234" class="image-list__thumb">
            </div>
            <div class="image-list__protection">
                <div class="image-list__text">Image 1</div>
                <div class="image-list__action">&#xE720;</div>
            </div>
        </li>
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/200/300" alt="234" class="image-list__thumb">
            </div>
            <div class="image-list__protection">
                <div class="image-list__text">Image 1</div>
                <div class="image-list__action">&#xE720;</div>
            </div>
        </li>
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/200/300" alt="234" class="image-list__thumb">
            </div>
            <div class="image-list__protection">
                <div class="image-list__text">Image 1</div>
                <div class="image-list__action">&#xE720;</div>
            </div>
        </li>
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/200/300" alt="234" class="image-list__thumb">
            </div>
            <div class="image-list__protection">
                <div class="image-list__text">Image 1</div>
                <div class="image-list__action">&#xE720;</div>
            </div>
        </li>
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/200/300" alt="234" class="image-list__thumb">
            </div>
            <div class="image-list__protection">
                <div class="image-list__text">Image 1</div>
                <div class="image-list__action">&#xE720;</div>
            </div>
        </li>
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/200/300" alt="234" class="image-list__thumb">
            </div>
            <div class="image-list__protection">
                <div class="image-list__text">Image 1</div>
                <div class="image-list__action">&#xE720;</div>
            </div>
        </li>
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/200/300" alt="234" class="image-list__thumb">
            </div>
            <div class="image-list__protection">
                <div class="image-list__text">Image 1</div>
                <div class="image-list__action">&#xE720;</div>
            </div>
        </li>
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/200/300" alt="234" class="image-list__thumb">
            </div>
            <div class="image-list__protection">
                <div class="image-list__text">Image 1</div>
                <div class="image-list__action">&#xE720;</div>
            </div>
        </li>
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/200/300" alt="234" class="image-list__thumb">
            </div>
            <div class="image-list__protection">
                <div class="image-list__text">Image 1</div>
                <div class="image-list__action">&#xE720;</div>
            </div>
        </li>
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/200/300" alt="234" class="image-list__thumb">
            </div>
            <div class="image-list__protection">
                <div class="image-list__text">Image 1</div>
                <div class="image-list__action">&#xE720;</div>
            </div>
        </li>
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/200/300" alt="234" class="image-list__thumb">
            </div>
            <div class="image-list__protection">
                <div class="image-list__text">Image 1</div>
                <div class="image-list__action">&#xE720;</div>
            </div>
        </li>
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/200/300" alt="234" class="image-list__thumb">
            </div>
            <div class="image-list__protection">
                <div class="image-list__text">Image 1</div>
                <div class="image-list__action">&#xE720;</div>
            </div>
        </li>
    </ul>
    <br><br>

    <ul class="demo-image-list image-list image-list--masonry">
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/200/300" alt="234" class="image-list__thumb">
            </div>
            <div class="image-list__protection">
                <div class="image-list__text">Image 1</div>
                <div class="image-list__action">&#xE720;</div>
            </div>
        </li>
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/300/200" alt="234" class="image-list__thumb">
            </div>
            <div class="image-list__protection">
                <div class="image-list__text">Image 1</div>
                <div class="image-list__action">&#xE720;</div>
            </div>
        </li>
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/300/300" alt="234" class="image-list__thumb">
            </div>
            <div class="image-list__protection">
                <div class="image-list__text">Image 1</div>
                <div class="image-list__action">&#xE720;</div>
            </div>
        </li>
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/300/200" alt="234" class="image-list__thumb">
            </div>
            <div class="image-list__protection">
                <div class="image-list__text">Image 1</div>
                <div class="image-list__action">&#xE720;</div>
            </div>
        </li>
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/200/300" alt="234" class="image-list__thumb">
            </div>
            <div class="image-list__protection">
                <div class="image-list__text">Image 1</div>
                <div class="image-list__action">&#xE720;</div>
            </div>
        </li>
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/300/200" alt="234" class="image-list__thumb">
            </div>
            <div class="image-list__protection">
                <div class="image-list__text">Image 1</div>
                <div class="image-list__action">&#xE720;</div>
            </div>
        </li>
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/200/300" alt="234" class="image-list__thumb">
            </div>
            <div class="image-list__protection">
                <div class="image-list__text">Image 1</div>
                <div class="image-list__action">&#xE720;</div>
            </div>
        </li>
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/300/200" alt="234" class="image-list__thumb">
            </div>
            <div class="image-list__protection">
                <div class="image-list__text">Image 1</div>
                <div class="image-list__action">&#xE720;</div>
            </div>
        </li>
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/300/300" alt="234" class="image-list__thumb">
            </div>
            <div class="image-list__protection">
                <div class="image-list__text">Image 1</div>
                <div class="image-list__action">&#xE720;</div>
            </div>
        </li>
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/300/200" alt="234" class="image-list__thumb">
            </div>
            <div class="image-list__protection">
                <div class="image-list__text">Image 1</div>
                <div class="image-list__action">&#xE720;</div>
            </div>
        </li>
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/200/300" alt="234" class="image-list__thumb">
            </div>
            <div class="image-list__protection">
                <div class="image-list__text">Image 1</div>
                <div class="image-list__action">&#xE720;</div>
            </div>
        </li>
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/300/200" alt="234" class="image-list__thumb">
            </div>
            <div class="image-list__protection">
                <div class="image-list__text">Image 1</div>
                <div class="image-list__action">&#xE720;</div>
            </div>
        </li>
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/200/300" alt="234" class="image-list__thumb">
            </div>
            <div class="image-list__protection">
                <div class="image-list__text">Image 1</div>
                <div class="image-list__action">&#xE720;</div>
            </div>
        </li>
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/300/200" alt="234" class="image-list__thumb">
            </div>
            <div class="image-list__protection">
                <div class="image-list__text">Image 1</div>
                <div class="image-list__action">&#xE720;</div>
            </div>
        </li>
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/300/300" alt="234" class="image-list__thumb">
            </div>
            <div class="image-list__protection">
                <div class="image-list__text">Image 1</div>
                <div class="image-list__action">&#xE720;</div>
            </div>
        </li>
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/300/200" alt="234" class="image-list__thumb">
            </div>
            <div class="image-list__protection">
                <div class="image-list__text">Image 1</div>
                <div class="image-list__action">&#xE720;</div>
            </div>
        </li>
    </ul>
    <br><br>

    <!--  -->
    <ul class="demo-image-list image-list image-list--standard">
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/200/300" alt="234" class="image-list__thumb">
                <div class="image-list__protection">
                    <div class="image-list__text">Image 1</div>
                    <div class="image-list__action">&#xE720;</div>
                </div>
            </div>
        </li>
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/200/300" alt="234" class="image-list__thumb">
                <div class="image-list__protection">
                    <div class="image-list__text">Image 1</div>
                    <div class="image-list__action">&#xE720;</div>
                </div>
            </div>
        </li>
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/200/300" alt="234" class="image-list__thumb">
                <div class="image-list__protection">
                    <div class="image-list__text">Image 1</div>
                    <div class="image-list__action">&#xE720;</div>
                </div>
            </div>
        </li>
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/200/300" alt="234" class="image-list__thumb">
                <div class="image-list__protection">
                    <div class="image-list__text">Image 1</div>
                    <div class="image-list__action">&#xE720;</div>
                </div>
            </div>
        </li>
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/200/300" alt="234" class="image-list__thumb">
                <div class="image-list__protection">
                    <div class="image-list__text">Image 1</div>
                    <div class="image-list__action">&#xE720;</div>
                </div>
            </div>
        </li>
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/200/300" alt="234" class="image-list__thumb">
                <div class="image-list__protection">
                    <div class="image-list__text">Image 1</div>
                    <div class="image-list__action">&#xE720;</div>
                </div>
            </div>
        </li>
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/200/300" alt="234" class="image-list__thumb">
                <div class="image-list__protection">
                    <div class="image-list__text">Image 1</div>
                    <div class="image-list__action">&#xE720;</div>
                </div>
            </div>
        </li>
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/200/300" alt="234" class="image-list__thumb">
                <div class="image-list__protection">
                    <div class="image-list__text">Image 1</div>
                    <div class="image-list__action">&#xE720;</div>
                </div>
            </div>
        </li>
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/200/300" alt="234" class="image-list__thumb">
                <div class="image-list__protection">
                    <div class="image-list__text">Image 1</div>
                    <div class="image-list__action">&#xE720;</div>
                </div>
            </div>
        </li>
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/200/300" alt="234" class="image-list__thumb">
                <div class="image-list__protection">
                    <div class="image-list__text">Image 1</div>
                    <div class="image-list__action">&#xE720;</div>
                </div>
            </div>
        </li>
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/200/300" alt="234" class="image-list__thumb">
                <div class="image-list__protection">
                    <div class="image-list__text">Image 1</div>
                    <div class="image-list__action">&#xE720;</div>
                </div>
            </div>
        </li>
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/200/300" alt="234" class="image-list__thumb">
                <div class="image-list__protection">
                    <div class="image-list__text">Image 1</div>
                    <div class="image-list__action">&#xE720;</div>
                </div>
            </div>
        </li>
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/200/300" alt="234" class="image-list__thumb">
                <div class="image-list__protection">
                    <div class="image-list__text">Image 1</div>
                    <div class="image-list__action">&#xE720;</div>
                </div>
            </div>
        </li>
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/200/300" alt="234" class="image-list__thumb">
                <div class="image-list__protection">
                    <div class="image-list__text">Image 1</div>
                    <div class="image-list__action">&#xE720;</div>
                </div>
            </div>
        </li>
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/200/300" alt="234" class="image-list__thumb">
                <div class="image-list__protection">
                    <div class="image-list__text">Image 1</div>
                    <div class="image-list__action">&#xE720;</div>
                </div>
            </div>
        </li>
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/200/300" alt="234" class="image-list__thumb">
                <div class="image-list__protection">
                    <div class="image-list__text">Image 1</div>
                    <div class="image-list__action">&#xE720;</div>
                </div>
            </div>
        </li>
    </ul>
    <br><br>

    <ul class="demo-image-list image-list image-list--quilted">
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/200/300" alt="234" class="image-list__thumb">
                <div class="image-list__protection">
                    <div class="image-list__text">Image 1</div>
                    <div class="image-list__action">&#xE720;</div>
                </div>
            </div>
        </li>
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/200/300" alt="234" class="image-list__thumb">
                <div class="image-list__protection">
                    <div class="image-list__text">Image 1</div>
                    <div class="image-list__action">&#xE720;</div>
                </div>
            </div>
        </li>
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/200/300" alt="234" class="image-list__thumb">
                <div class="image-list__protection">
                    <div class="image-list__text">Image 1</div>
                    <div class="image-list__action">&#xE720;</div>
                </div>
            </div>
        </li>
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/200/300" alt="234" class="image-list__thumb">
                <div class="image-list__protection">
                    <div class="image-list__text">Image 1</div>
                    <div class="image-list__action">&#xE720;</div>
                </div>
            </div>
        </li>
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/200/300" alt="234" class="image-list__thumb">
                <div class="image-list__protection">
                    <div class="image-list__text">Image 1</div>
                    <div class="image-list__action">&#xE720;</div>
                </div>
            </div>
        </li>
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/200/300" alt="234" class="image-list__thumb">
                <div class="image-list__protection">
                    <div class="image-list__text">Image 1</div>
                    <div class="image-list__action">&#xE720;</div>
                </div>
            </div>
        </li>
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/200/300" alt="234" class="image-list__thumb">
                <div class="image-list__protection">
                    <div class="image-list__text">Image 1</div>
                    <div class="image-list__action">&#xE720;</div>
                </div>
            </div>
        </li>
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/200/300" alt="234" class="image-list__thumb">
                <div class="image-list__protection">
                    <div class="image-list__text">Image 1</div>
                    <div class="image-list__action">&#xE720;</div>
                </div>
            </div>
        </li>
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/200/300" alt="234" class="image-list__thumb">
                <div class="image-list__protection">
                    <div class="image-list__text">Image 1</div>
                    <div class="image-list__action">&#xE720;</div>
                </div>
            </div>
        </li>
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/200/300" alt="234" class="image-list__thumb">
                <div class="image-list__protection">
                    <div class="image-list__text">Image 1</div>
                    <div class="image-list__action">&#xE720;</div>
                </div>
            </div>
        </li>
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/200/300" alt="234" class="image-list__thumb">
                <div class="image-list__protection">
                    <div class="image-list__text">Image 1</div>
                    <div class="image-list__action">&#xE720;</div>
                </div>
            </div>
        </li>
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/200/300" alt="234" class="image-list__thumb">
                <div class="image-list__protection">
                    <div class="image-list__text">Image 1</div>
                    <div class="image-list__action">&#xE720;</div>
                </div>
            </div>
        </li>
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/200/300" alt="234" class="image-list__thumb">
                <div class="image-list__protection">
                    <div class="image-list__text">Image 1</div>
                    <div class="image-list__action">&#xE720;</div>
                </div>
            </div>
        </li>
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/200/300" alt="234" class="image-list__thumb">
                <div class="image-list__protection">
                    <div class="image-list__text">Image 1</div>
                    <div class="image-list__action">&#xE720;</div>
                </div>
            </div>
        </li>
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/200/300" alt="234" class="image-list__thumb">
                <div class="image-list__protection">
                    <div class="image-list__text">Image 1</div>
                    <div class="image-list__action">&#xE720;</div>
                </div>
            </div>
        </li>
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/200/300" alt="234" class="image-list__thumb">
                <div class="image-list__protection">
                    <div class="image-list__text">Image 1</div>
                    <div class="image-list__action">&#xE720;</div>
                </div>
            </div>
        </li>
    </ul>
    <br><br>

    <ul class="demo-image-list image-list image-list--woven">
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/200/300" alt="234" class="image-list__thumb">
                <div class="image-list__protection">
                    <div class="image-list__text">Image 1</div>
                    <div class="image-list__action">&#xE720;</div>
                </div>
            </div>
        </li>
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/200/300" alt="234" class="image-list__thumb">
                <div class="image-list__protection">
                    <div class="image-list__text">Image 1</div>
                    <div class="image-list__action">&#xE720;</div>
                </div>
            </div>
        </li>
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/200/300" alt="234" class="image-list__thumb">
                <div class="image-list__protection">
                    <div class="image-list__text">Image 1</div>
                    <div class="image-list__action">&#xE720;</div>
                </div>
            </div>
        </li>
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/200/300" alt="234" class="image-list__thumb">
                <div class="image-list__protection">
                    <div class="image-list__text">Image 1</div>
                    <div class="image-list__action">&#xE720;</div>
                </div>
            </div>
        </li>
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/200/300" alt="234" class="image-list__thumb">
                <div class="image-list__protection">
                    <div class="image-list__text">Image 1</div>
                    <div class="image-list__action">&#xE720;</div>
                </div>
            </div>
        </li>
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/200/300" alt="234" class="image-list__thumb">
                <div class="image-list__protection">
                    <div class="image-list__text">Image 1</div>
                    <div class="image-list__action">&#xE720;</div>
                </div>
            </div>
        </li>
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/200/300" alt="234" class="image-list__thumb">
                <div class="image-list__protection">
                    <div class="image-list__text">Image 1</div>
                    <div class="image-list__action">&#xE720;</div>
                </div>
            </div>
        </li>
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/200/300" alt="234" class="image-list__thumb">
                <div class="image-list__protection">
                    <div class="image-list__text">Image 1</div>
                    <div class="image-list__action">&#xE720;</div>
                </div>
            </div>
        </li>
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/200/300" alt="234" class="image-list__thumb">
                <div class="image-list__protection">
                    <div class="image-list__text">Image 1</div>
                    <div class="image-list__action">&#xE720;</div>
                </div>
            </div>
        </li>
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/200/300" alt="234" class="image-list__thumb">
                <div class="image-list__protection">
                    <div class="image-list__text">Image 1</div>
                    <div class="image-list__action">&#xE720;</div>
                </div>
            </div>
        </li>
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/200/300" alt="234" class="image-list__thumb">
                <div class="image-list__protection">
                    <div class="image-list__text">Image 1</div>
                    <div class="image-list__action">&#xE720;</div>
                </div>
            </div>
        </li>
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/200/300" alt="234" class="image-list__thumb">
                <div class="image-list__protection">
                    <div class="image-list__text">Image 1</div>
                    <div class="image-list__action">&#xE720;</div>
                </div>
            </div>
        </li>
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/200/300" alt="234" class="image-list__thumb">
                <div class="image-list__protection">
                    <div class="image-list__text">Image 1</div>
                    <div class="image-list__action">&#xE720;</div>
                </div>
            </div>
        </li>
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/200/300" alt="234" class="image-list__thumb">
                <div class="image-list__protection">
                    <div class="image-list__text">Image 1</div>
                    <div class="image-list__action">&#xE720;</div>
                </div>
            </div>
        </li>
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/200/300" alt="234" class="image-list__thumb">
                <div class="image-list__protection">
                    <div class="image-list__text">Image 1</div>
                    <div class="image-list__action">&#xE720;</div>
                </div>
            </div>
        </li>
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/200/300" alt="234" class="image-list__thumb">
                <div class="image-list__protection">
                    <div class="image-list__text">Image 1</div>
                    <div class="image-list__action">&#xE720;</div>
                </div>
            </div>
        </li>
    </ul>
    <br><br>

    <ul class="demo-image-list image-list image-list--masonry">
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/200/300" alt="234" class="image-list__thumb">
                <div class="image-list__protection">
                    <div class="image-list__text">Image 1</div>
                    <div class="image-list__action">&#xE720;</div>
                </div>
            </div>
        </li>
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/300/200" alt="234" class="image-list__thumb">
                <div class="image-list__protection">
                    <div class="image-list__text">Image 1</div>
                    <div class="image-list__action">&#xE720;</div>
                </div>
            </div>
        </li>
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/300/300" alt="234" class="image-list__thumb">
                <div class="image-list__protection">
                    <div class="image-list__text">Image 1</div>
                    <div class="image-list__action">&#xE720;</div>
                </div>
            </div>
        </li>
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/300/200" alt="234" class="image-list__thumb">
                <div class="image-list__protection">
                    <div class="image-list__text">Image 1</div>
                    <div class="image-list__action">&#xE720;</div>
                </div>
            </div>
        </li>
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/200/300" alt="234" class="image-list__thumb">
                <div class="image-list__protection">
                    <div class="image-list__text">Image 1</div>
                    <div class="image-list__action">&#xE720;</div>
                </div>
            </div>
        </li>
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/300/200" alt="234" class="image-list__thumb">
                <div class="image-list__protection">
                    <div class="image-list__text">Image 1</div>
                    <div class="image-list__action">&#xE720;</div>
                </div>
            </div>
        </li>
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/200/300" alt="234" class="image-list__thumb">
                <div class="image-list__protection">
                    <div class="image-list__text">Image 1</div>
                    <div class="image-list__action">&#xE720;</div>
                </div>
            </div>
        </li>
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/300/200" alt="234" class="image-list__thumb">
                <div class="image-list__protection">
                    <div class="image-list__text">Image 1</div>
                    <div class="image-list__action">&#xE720;</div>
                </div>
            </div>
        </li>
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/300/300" alt="234" class="image-list__thumb">
                <div class="image-list__protection">
                    <div class="image-list__text">Image 1</div>
                    <div class="image-list__action">&#xE720;</div>
                </div>
            </div>
        </li>
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/300/200" alt="234" class="image-list__thumb">
                <div class="image-list__protection">
                    <div class="image-list__text">Image 1</div>
                    <div class="image-list__action">&#xE720;</div>
                </div>
            </div>
        </li>
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/200/300" alt="234" class="image-list__thumb">
                <div class="image-list__protection">
                    <div class="image-list__text">Image 1</div>
                    <div class="image-list__action">&#xE720;</div>
                </div>
            </div>
        </li>
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/300/200" alt="234" class="image-list__thumb">
                <div class="image-list__protection">
                    <div class="image-list__text">Image 1</div>
                    <div class="image-list__action">&#xE720;</div>
                </div>
            </div>
        </li>
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/200/300" alt="234" class="image-list__thumb">
                <div class="image-list__protection">
                    <div class="image-list__text">Image 1</div>
                    <div class="image-list__action">&#xE720;</div>
                </div>
            </div>
        </li>
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/300/200" alt="234" class="image-list__thumb">
                <div class="image-list__protection">
                    <div class="image-list__text">Image 1</div>
                    <div class="image-list__action">&#xE720;</div>
                </div>
            </div>
        </li>
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/300/300" alt="234" class="image-list__thumb">
                <div class="image-list__protection">
                    <div class="image-list__text">Image 1</div>
                    <div class="image-list__action">&#xE720;</div>
                </div>
            </div>
        </li>
        <li class="image-list__item">
            <div class="image-list__container">
                <img src="https://picsum.photos/id/234/300/200" alt="234" class="image-list__thumb">
                <div class="image-list__protection">
                    <div class="image-list__text">Image 1</div>
                    <div class="image-list__action">&#xE720;</div>
                </div>
            </div>
        </li>
    </ul>
    <br><br>

    <script src="../index.js" type="module"></script>
</body>

</html>

