/* 
	@block snackbar 
*/
.snackbar {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 344px;
    min-height: 48px;
    border-radius: 4px;
    padding-bottom: 6px;
    background-color: var(--color-focused-on-light);
    color: var(--color-unfocused-on-dark);
    /* 6 */
    box-shadow: 0 3px 5px -1px var(--color-black-20), 0 6px 10px 0 var(--color-black-14), 0 1px 18px 0 var(--color-black-12);
}

/* 
	@element text 
*/
.snackbar__text {
    flex: 1;
    min-width: 50%;
    margin: calc((68px - 40px) / 2) 16px calc(14px - 6px);
    font-weight: 400; font-size: 14px; line-height: 20px;
}

/* 
	@element action 
*/
.snackbar__action {
    margin: 6px 8px 0;
    margin-left: auto;
}
