.snackbar {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 344px;
    min-height: 48px;
    padding-bottom: 6px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.87);
    color: rgba(255, 255, 255, 0.87);
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}

.snackbar__text {
    min-width: 50%;
    margin: 0 16px;
    margin-top: calc((48px - 20px) / 2);
    margin-bottom: calc(((48px - 20px) / 2) - 6px);
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.snackbar__action {
    margin: 6px 8px;
    margin-bottom: 0;
    margin-left: auto;
}