/* 
	@block icon 
*/
.icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    font: 400 18px/1 'Segoe MDL2 Assets';
}