/* 
    @font-face "Segoe MDL2 Assets"
*/
@font-face {
    font-family: "Segoe MDL2 Assets";
    src: url("./fonts/SegMDL20.eot");
    src: url("./fonts/SegMDL20.eot?#iefix") format("embedded-opentype"),
        url("./fonts/SegMDL20.otf") format("opentype"),
        url("./fonts/SegMDL20.svg") format("svg"),
        url("./fonts/SegMDL20.ttf") format("truetype"),
        url("./fonts/SegMDL20.woff") format("woff"),
        url("./fonts/SegMDL20.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

/* 
	@block icon 
*/
wk-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    font: 400 18px/1 'Segoe MDL2 Assets';
}

/* 
	@modifier actionable 
*/
/* wk-icon[actionable] {} */

/* 
	@state ripple 
*/
wk-icon[actionable] {
    --ripple-circumference: 166.66666666666669%;
    position: relative;
    /* overflow: hidden; */
    cursor: pointer;
    user-select: none;
}
wk-icon[actionable]::after {
    content: "";
    position: absolute;
    overflow: hidden;
    pointer-events: none;
    left: var(--ripple-left, 50%);
    top: var(--ripple-top, 50%);
    width: var(--ripple-circumference, 141.4213562373095%);
    padding-top: var(--ripple-circumference, 141.4213562373095%);
    border-radius: 50%;
    transform: translate3d(-50%, -50%, 0) translate3d(var(--ripple-translateX, 0), var(--ripple-translateY, 0), 0);
    background-color: var(--color-primary);
    opacity: 0;
}

wk-icon[actionable][disabled] {
    cursor: default;
    pointer-events: none;
    opacity: 0.38;
}
wk-icon[actionable][disabled]::after {
    opacity: 0;
}

/* wk-icon[actionable]:hover {} */
wk-icon[actionable]:hover::after {
    opacity: 0.04;
}

/* wk-icon[actionable]:focus {} */
wk-icon[actionable]:focus::after {
    opacity: 0.12;
    animation: var(--ripple-animation, ripple-out) 300ms ease-in-out forwards;
}

/* wk-icon[actionable][filter][selected] {} */
wk-icon[actionable][filter]:not([selected]):focus:not(:active)::after {
    --ripple-left: 50%;
    --ripple-top: 50%;
    /* --ripple-circumference: 83.33333333333334%; */
    --ripple-translateX: 0;
    --ripple-translateY: 0;
    --ripple-animation: ripple-in;
}
wk-icon[actionable][filter][selected]::after {
    background-color: var(--color-primary);
    opacity: 0.08;
    animation-name: ripple-out;
    animation-fill-mode: backwards;
}

wk-icon[actionable][choice][activated] {
    color: var(--color-primary);
}
wk-icon[actionable][choice]:not([activated]):focus:not(:active)::after {
    --ripple-left: 50%;
    --ripple-top: 50%;
    /* --ripple-circumference: 83.33333333333334%; */
    --ripple-translateX: 0;
    --ripple-translateY: 0;
    --ripple-animation: ripple-in;
}
wk-icon[actionable][choice][activated]::after {
    background-color: var(--color-primary);
    opacity: 0.12;
    animation-name: ripple-out;
    animation-fill-mode: backwards;
}

/* wk-icon[actionable]:active {} */
wk-icon[actionable]:active::after {
    opacity: 0.16;
}

/* wk-icon[actionable][dragged] {} */
wk-icon[actionable][dragged]::after {
    opacity: 0.08;
}