wk-chip {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    position: relative;
    overflow: hidden;
    height: 32px;
    border-radius: calc(32px / 2);
    background-color: rgba(0, 0, 0, 0.12);
    color: rgba(0, 0, 0, 0.87);
}

.chip__thumb {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    margin: 0 4px;
    border-radius: 50%;
}

.chip__icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    margin: 0 4px;
    border-radius: 50%;
    color: rgba(0, 0, 0, 0.54);
}

.chip__check {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 0;
    height: 0;
    margin: 0 4px;
    border-radius: 50%;
    background-color: transparent;
    transition: 
    left 100ms ease-in-out,
    width 100ms ease-in-out,
    height 100ms ease-in-out;
}

.chip__thumb ~ .chip__check,
.chip__icon ~ .chip__check {
    position: absolute;
    left: 12px;
    background-color: rgba(0, 0, 0, 0.54);
}

.chip__thumb ~ .chip__check .chip__mark::before,
.chip__icon ~ .chip__check .chip__mark::before {
    background-color: #ffffff;
}

.chip__thumb ~ .chip__check .chip__mark::after,
.chip__icon ~ .chip__check .chip__mark::after {
    background-color: #ffffff;
}

.chip__mark {
    position: relative;
    width: 16px;
    height: 8px;
    margin-top: -4px;
    transform: rotate(-45deg);
}

.chip__mark::before {
    content: '';
    position: absolute;
    left: 0;
    width: 2px;
    height: 0;
    background-color: #676767;
}

.chip__mark::after {
    content: '';
    position: absolute;
    left: 0;
    top: 6px;
    width: 0;
    height: 2px;
    background-color: #676767;
}

.chip__text {
    margin: 0 12px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.chip__thumb ~ .chip__text,
.chip__icon ~ .chip__text,
.chip__check ~ .chip__text {
    margin-left: 4px;
}

.chip__action {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    margin: 0 8px;
    color: rgba(0, 0, 0, 0.54);
}

.chip__text + .chip__action {
    margin-left: -4px;
}

.chip__action:empty {
    font-weight: 400;
    font-size: 18px;
    line-height: 1;
    font-family: 'Segoe MDL2 Assets';
}

.chip__action:empty::before {
    content: '\EB90';
}





wk-chip[filter][selected] .chip__check {
    width: 24px;
    height: 24px;
    left: 0;
}

wk-chip[filter][selected] .chip__check .chip__mark::before {
    height: 100%;
    transition: 
    height 100ms ease-in-out 100ms;
}

wk-chip[filter][selected] .chip__check .chip__mark::after {
    width: 100%;
    transition: 
    width 100ms ease-in-out 200ms;
}






wk-chip[outlined] {
    background-color: transparent;
    color: rgba(0, 0, 0, 0.87);
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.12);
}






wk-chip-group {
    display: inline-flex;
    vertical-align: middle;
}

wk-chip-group wk-chip + wk-chip {
    margin-left: 8px;
}





/* 
    States
*/
wk-chip {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
}

wk-chip[choice][activated] {
    color: #6200ee;
}

wk-chip[disabled] {
    cursor: default;
    pointer-events: none;
    opacity: 0.38;
}

/* 
    Touch target
*/
wk-chip::before {
    content: '';
    position: absolute;
    z-index: -1;
    min-width: 100%;
    min-height: 48px;
    height: 100%;
}

/* 
    Overlay
*/
wk-chip::after {
    content: '';
    position: absolute;
    pointer-events: none;
    left: var(--ripple-left, 50%);
    top: var(--ripple-top, 50%);
    transform: translate3d(-50%, -50%, 0) translate3d(var(--ripple-translateX, 0), var(--ripple-translateY, 0), 0);
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: #000000;
    opacity: 0;
}

wk-chip:hover::after {
    width: var(--ripple-size, 256px);
    height: var(--ripple-size, 256px);
    opacity: 0.04;
}

wk-chip:focus::after {
    width: 150%;
    height: 150%;
    opacity: 0.12;
    transition: width 300ms ease-in-out, height 300ms ease-in-out, opacity 300ms ease-in-out;
    animation: var(--ripple-animation, ripple 300ms ease-in-out);
}

wk-chip:active::after {
    width: 150%;
    height: 150%;
    opacity: 0.16;
}

wk-chip[filter]:focus::after {
    --ripple-animation-duration: 300ms; 
}

/* wk-chip[filter]:not([selected]):focus:not(:active)::after {
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0) translate3d(0, 0, 0);
    width: 75%;
    height: 75%;
} */

wk-chip[filter]:not([selected]):active::after {
    width: 150%;
    height: 150%;
}

wk-chip[filter][selected]::after {
    width: 150%;
    height: 150%;
    background-color: #6200ee;
    opacity: 0.08;
    animation: ripple 300ms ease-in-out;
    animation-duration: var(--ripple-animation-duration, 0s);
}

wk-chip[choice]:focus::after {
    --ripple-animation-duration: 300ms; 
}

/* wk-chip[choice]:not([activated]):focus:not(:active)::after {
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0) translate3d(0, 0, 0);
    width: 75%;
    height: 75%;
} */

wk-chip[choice]:not([activated]):active::after {
    width: 150%;
    height: 150%;
}

wk-chip[choice][activated]::after {
    width: 150%;
    height: 150%;
    background-color: #6200ee;
    opacity: 0.12;
    animation: ripple 300ms ease-in-out;
    animation-duration: var(--ripple-animation-duration, 0s);
}

wk-chip[dragged]::after {
    opacity: 0.08;
}

wk-chip[disabled]::after {
    opacity: 0;
}