/* 
    @state side-sheet__action
*/
.side-sheet__action {
    --ripple-circumference: 166.66666666666669%;
    position: relative;
    /* overflow: hidden; */
    cursor: pointer;
    user-select: none;
}
.side-sheet__action::after {
    content: "";
    position: absolute;
    overflow: hidden;
    pointer-events: none;
    left: var(--ripple-left, 50%);
    top: var(--ripple-top, 50%);
    width: var(--ripple-circumference, 141.4213562373095%);
    padding-top: var(--ripple-circumference, 141.4213562373095%);
    border-radius: 50%;
    transform: translate3d(-50%, -50%, 0) translate3d(var(--ripple-translateX, 0), var(--ripple-translateY, 0), 0);
    background-color: var(--color-primary);
    opacity: 0;
}

/* .side-sheet__action:hover {} */
.side-sheet__action:hover::after { opacity: 0.08; }

/* .side-sheet__action:focus {} */
.side-sheet__action:focus::after { 
    opacity: 0.24; 
    animation: var(--ripple-animation, ripple-out) 300ms ease-in-out;
}

/* .side-sheet__action:active {} */
.side-sheet__action:active::after { opacity: 0.32; }

/* .side-sheet__action[selected] {} */
.side-sheet__action[selected]::after { 
    background-color: var(--color-primary);
    opacity: 0.16; 
}

.side-sheet__action[activated] {
    color: var(--color-primary);
}
.side-sheet__action[activated]::after { 
    background-color: var(--color-primary);
    opacity: 0.24; 
}

/* .side-sheet__action[dragged] {} */
.side-sheet__action[dragged]::after { opacity: 0.16; }

.side-sheet__action[disabled] {
    cursor: default;
    pointer-events: none;
    opacity: 0.38;
}
.side-sheet__action[disabled]::after { opacity: 0; }
